[2014-12-27 07:32] wojtekn opened #1 "Two occurrences of n98-magerun.phar in readme"
It looks there are two occurrences of n98-magerun.phar in readme file. They should be changed to n98-magerun2.phar according to new phar file.

[2014-12-28 12:18] #1 closed, assigned to nobody

[2014-12-28 19:15] cmuench opened #2 "The issue title"
The issue body

[2014-12-28 19:16] #2 closed, assigned to nobody

[2014-12-28 20:02] cmuench opened #3 "P"
o

[2014-12-28 20:02] cmuench opened #4 "P"
o

[2014-12-28 20:02] cmuench opened #5 "P"
o

[2014-12-28 20:02] cmuench opened #6 "P"
o

[2014-12-28 20:02] cmuench opened #7 "P"
o

[2014-12-28 20:02] cmuench opened #8 "P"
o

[2014-12-28 20:02] cmuench opened #9 "P"
o

[2014-12-28 20:02] cmuench opened #10 "P"
o

[2014-12-28 20:02] cmuench opened #11 "P"
o

[2014-12-28 20:02] cmuench opened #12 "P"
o

[2014-12-28 20:02] cmuench opened #13 "P"
o

[2014-12-28 20:02] cmuench opened #14 "P"
o

[2014-12-28 20:02] cmuench opened #15 "P"
o

[2014-12-28 20:02] cmuench opened #16 "P"
o

[2014-12-28 20:02] cmuench opened #17 "P"
o

[2014-12-28 20:02] cmuench opened #18 "P"
o

[2014-12-28 20:02] cmuench opened #19 "P"
o

[2014-12-28 20:02] cmuench opened #20 "P"
o

[2014-12-28 20:02] cmuench opened #21 "P"
o

[2014-12-28 20:02] cmuench opened #22 "P"
o

[2014-12-28 20:03] #3 closed, assigned to cmuench

[2014-12-28 20:03] #4 closed, assigned to cmuench

[2014-12-28 20:03] #5 closed, assigned to cmuench

[2014-12-28 20:03] #6 closed, assigned to cmuench

[2014-12-28 20:03] #7 closed, assigned to cmuench

[2014-12-28 20:03] #8 closed, assigned to cmuench

[2014-12-28 20:03] #9 closed, assigned to cmuench

[2014-12-28 20:03] #10 closed, assigned to cmuench

[2014-12-28 20:03] #11 closed, assigned to cmuench

[2014-12-28 20:03] #12 closed, assigned to cmuench

[2014-12-28 20:03] #13 closed, assigned to cmuench

[2014-12-28 20:03] #14 closed, assigned to cmuench

[2014-12-28 20:03] #15 closed, assigned to cmuench

[2014-12-28 20:03] #16 closed, assigned to cmuench

[2014-12-28 20:03] #17 closed, assigned to cmuench

[2014-12-28 20:03] #18 closed, assigned to cmuench

[2014-12-28 20:03] #19 closed, assigned to cmuench

[2014-12-28 20:03] #20 closed, assigned to cmuench

[2014-12-28 20:03] #21 closed, assigned to cmuench

[2014-12-28 20:03] #22 closed, assigned to cmuench

[2014-12-28 20:06] cmuench opened #23 "Porting command: install"
Install magento

[2014-12-28 20:06] cmuench opened #24 "Porting command: open-browser"
Open current project in browser <comment>(experimental)</comment>

[2014-12-28 20:06] cmuench opened #25 "Porting command: script"
Runs multiple n98-magerun commands

[2014-12-28 20:06] cmuench opened #26 "Porting command: self-update"
Updates n98-magerun.phar to the latest version.

[2014-12-28 20:06] cmuench opened #27 "Porting command: shell"
Runs n98-magerun as shell

[2014-12-28 20:06] cmuench opened #28 "Porting command: uninstall"
Uninstall magento (drops database and empties current folder or folder set via installationFolder)

[2014-12-28 20:06] cmuench opened #29 "Porting command: admin:notifications"
Toggles admin notifications

[2014-12-28 20:07] cmuench opened #30 "Porting command: admin:user:change-password"
Changes the password of a adminhtml user.

[2014-12-28 20:07] cmuench opened #31 "Porting command: admin:user:create"
Create admin user.

[2014-12-28 20:07] cmuench opened #32 "Porting command: admin:user:delete"
Delete the account of a adminhtml user.

[2014-12-28 20:07] cmuench opened #33 "Porting command: admin:user:list"
List admin users.

[2014-12-28 20:07] cmuench opened #34 "Porting command: cache:clean"
Clean magento cache

[2014-12-28 20:07] cmuench opened #35 "Porting command: cache:disable"
Disables magento caches

[2014-12-28 20:07] cmuench opened #36 "Porting command: cache:enable"
Enables magento caches

[2014-12-28 20:07] cmuench opened #37 "Porting command: cache:flush"
Flush magento cache storage

[2014-12-28 20:07] cmuench opened #38 "Porting command: cache:list"
Lists all magento caches

[2014-12-28 20:07] cmuench opened #39 "Porting command: cache:report"
View inside the cache

[2014-12-28 20:07] cmuench opened #40 "Porting command: cache:view"
Prints a cache entry

[2014-12-28 20:07] cmuench opened #41 "Porting command: composer:diagnose"
Diagnoses the system to identify common errors.

[2014-12-28 20:07] cmuench opened #42 "Porting command: composer:init"
Creates a basic composer.json file in current directory.

[2014-12-28 20:08] cmuench opened #43 "Porting command: composer:install"
Installs the project dependencies from the composer.lock file if present, or falls back on the composer.json.

[2014-12-28 20:08] cmuench opened #44 "Porting command: composer:require"
Adds required packages to your composer.json and installs them

[2014-12-28 20:08] cmuench opened #45 "Porting command: composer:search"
Search for packages

[2014-12-28 20:08] cmuench opened #46 "Porting command: composer:update"
Updates your dependencies to the latest version according to composer.json, and updates the composer.lock file.

[2014-12-28 20:08] cmuench opened #47 "Porting command: composer:validate"
Validates a composer.json

[2014-12-28 20:08] cmuench opened #48 "Porting command: config:delete"
Deletes a store config item

[2014-12-28 20:08] cmuench opened #49 "Porting command: config:dump"
Dump merged xml config

[2014-12-28 20:08] cmuench opened #50 "Porting command: config:get"
Get a core config item

[2014-12-28 20:08] cmuench opened #51 "Porting command: config:search"
Search system configuration descriptions.

[2014-12-28 20:08] cmuench opened #52 "Porting command: config:set"
Set a core config item

[2014-12-28 20:08] cmuench opened #53 "Porting command: customer:change-password"
Changes the password of a customer.

[2014-12-28 20:08] cmuench opened #54 "Porting command: customer:create"
Creates a new customer/user for shop frontend.

[2014-12-28 20:08] cmuench opened #55 "Porting command: customer:create:dummy"
Generate dummy customers. You can specify a count and a locale.

- The command should use the `fakerphp/faker` library to generate the random dummy data

See https://n98-magerun.readthedocs.io/en/latest/commands/customer.html for the description the n98-magerun1 command.

[2014-12-28 20:08] cmuench opened #56 "Porting command: customer:delete"
Delete Customer/s

[2014-12-28 20:08] cmuench opened #57 "Porting command: customer:info"
Loads basic customer info by email address.

[2014-12-28 20:08] cmuench opened #58 "Porting command: customer:list"
Lists customers

[2014-12-28 20:08] cmuench opened #59 "Porting command: db:console"
Opens mysql client by database config from local.xml

[2014-12-28 20:08] cmuench opened #60 "Porting command: db:create"
Create currently configured database

[2014-12-28 20:08] cmuench opened #61 "Porting command: db:drop"
Drop current database

[2014-12-28 20:08] cmuench opened #62 "Porting command: db:dump"
Dumps database with mysqldump cli client according to informations from local.xml

[2014-12-28 20:10] cmuench opened #63 "Porting command: db:import"
Imports database with mysql cli client according to database defined in local.xml

[2014-12-28 20:10] cmuench opened #64 "Porting command: db:info"
Dumps database informations

[2014-12-28 20:10] cmuench opened #65 "Porting command: db:maintain:check-tables"
Check database tables

[2014-12-28 20:10] cmuench opened #66 "Porting command: db:query"
Executes an SQL query on the database defined in local.xml

[2014-12-28 20:10] cmuench opened #67 "Porting command: db:status"
Shows important server status information or custom selected status values

[2014-12-28 20:10] cmuench opened #68 "Porting command: db:variables"
Shows important variables or custom selected

[2014-12-28 20:10] cmuench opened #69 "Porting command: design:demo-notice"
Toggles demo store notice for a store view

[2014-12-28 20:10] cmuench opened #70 "Porting command: dev:class:lookup"
Resolves a grouped class name

[2014-12-28 20:10] cmuench opened #71 "Porting command: dev:code:model:method"
Code annotations: Reads the columns from a table and writes the getter and setter methods into the class file for @methods.

Is this in 2023 still a good idea?

[2014-12-28 20:10] cmuench opened #72 "Porting command: dev:console"
Opens PHP interactive shell with initialized Mage::app() <comment>(Experimental)</comment>

[2014-12-28 20:10] cmuench opened #73 "Porting command: dev:ide:phpstorm:meta"
Generates meta data file for PhpStorm auto completion

[2014-12-28 20:10] cmuench opened #74 "Porting command: dev:log"
Toggle development log (system.log, exception.log)

[2014-12-28 20:10] cmuench opened #75 "Porting command: dev:log:db"
Turn on/off database query logging

[2014-12-28 20:10] cmuench opened #76 "Porting command: dev:log:size"
Get size of log file.
Magento 2 has more log files then Magento 1.
We need a good concept first.

[2014-12-28 20:10] cmuench opened #77 "Porting command: dev:module:create"
Create and register a new magento module.

[2014-12-28 20:10] cmuench opened #78 "Porting command: dev:module:dependencies:from"
Show list of modules which depend on %s module

[2014-12-28 20:10] cmuench opened #79 "Porting command: dev:module:dependencies:on"
Show list of modules which given module depends on

[2014-12-28 20:10] cmuench opened #80 "Porting command: dev:module:disable"
Disable a module or all modules in codePool

[2014-12-28 20:10] cmuench opened #81 "Porting command: dev:module:enable"
Enable a module or all modules in codePool

[2014-12-28 20:10] cmuench opened #82 "Porting command: dev:module:list"
List all installed modules

[2014-12-28 20:12] cmuench opened #83 "Porting command: dev:module:observer:list"
Lists all registered observers

[2014-12-28 20:12] cmuench opened #84 "Porting command: dev:module:rewrite:conflicts"
Lists all magento rewrite conflicts

[2014-12-28 20:12] cmuench opened #85 "Porting command: dev:di:preferences:list"
Lists all magento rewrites

[2014-12-28 20:12] cmuench opened #86 "Porting command: dev:module:update"
Update a Magento module.

[2014-12-28 20:12] cmuench opened #87 "Porting command: dev:profiler"
Toggles profiler for debugging

[2014-12-28 20:12] cmuench opened #88 "Porting command: dev:report:count"
Get count of report files

[2014-12-28 20:12] cmuench opened #89 "Porting command: dev:setup:script:attribute"
Creates attribute script for a given attribute code

[2014-12-28 20:12] cmuench opened #90 "Porting command: dev:symlinks"
Toggle allow symlinks setting

[2014-12-28 20:12] cmuench opened #91 "Porting command: dev:template-hints"
Toggles template hints

[2014-12-28 20:12] cmuench opened #92 "Porting command: dev:template-hints-blocks"
Toggles template hints block names

[2014-12-28 20:12] cmuench opened #93 "Porting command: dev:theme:duplicates"
Find duplicate files (templates, layout, locale, etc.) between two themes.

[2014-12-28 20:12] cmuench opened #94 "Porting command: dev:theme:list"
Lists all available themes

[2014-12-28 20:12] cmuench opened #95 "Porting command: dev:translate:admin"
Toggle inline translation tool for admin

[2014-12-28 20:12] cmuench opened #96 "Porting command: dev:translate:export"
Export inline translations

[2014-12-28 20:12] cmuench opened #97 "Porting command: dev:translate:set"
Adds a translation to core_translate table. <comment>Globally for locale</comment>

[2014-12-28 20:12] cmuench opened #98 "Porting command: dev:translate:shop"
Toggle inline translation tool for shop

[2014-12-28 20:12] cmuench opened #99 "Porting command: eav:attribute:list"
Lists all EAV attributes

[2014-12-28 20:12] cmuench opened #100 "Porting command: eav:attribute:remove"
Removes attribute for a given attribute code

[2014-12-28 20:12] cmuench opened #101 "Porting command: eav:attribute:view"
View informations about an EAV attribute

[2014-12-28 20:12] cmuench opened #102 "Porting command: extension:download"
Download magento-connect package

[2014-12-28 20:14] cmuench opened #103 "Porting command: extension:install"
Install magento-connect package

[2014-12-28 20:14] cmuench opened #104 "Porting command: extension:list"
List magento connection extensions

[2014-12-28 20:14] cmuench opened #105 "Porting command: extension:upgrade"
Upgrade magento-connect package

[2014-12-28 20:14] cmuench opened #106 "Porting command: extension:validate"
Reads Magento Connect Config, and checks that installed package files are really there

[2014-12-28 20:14] cmuench opened #107 "Porting command: index:list"
Lists all magento indexes

[2014-12-28 20:14] cmuench opened #108 "Porting command: index:reindex"
Reindex a magento index by code

[2014-12-28 20:14] cmuench opened #109 "Porting command: index:reindex:all"
Reindex all magento indexes

[2014-12-28 20:14] cmuench opened #110 "Porting command: local-config:generate"
Generates local.xml config

[2014-12-28 20:14] cmuench opened #111 "Porting command: media:dump"
Creates an archive with content of media folder.

[2014-12-28 20:14] cmuench opened #112 "Porting command: script:repo:list"
Lists all scripts in repository

[2014-12-28 20:14] cmuench opened #113 "Porting command: script:repo:run"
Run script from repository

[2014-12-28 20:14] cmuench opened #114 "Porting command: sys:check"
Checks Magento System

[2014-12-28 20:14] cmuench opened #115 "Porting command: sys:cron:history"
Last executed cronjobs with status.

[2014-12-28 20:14] cmuench opened #116 "Porting command: sys:cron:list"
Lists all cronjobs

[2014-12-28 20:14] cmuench opened #117 "Porting command: sys:cron:run"
Runs a cronjob by job code

[2014-12-28 20:14] cmuench opened #118 "Porting command: sys:info"
Prints infos about the current magento system.

[2014-12-28 20:14] cmuench opened #119 "Porting command: sys:maintenance"
Toggles maintenance mode.

[2014-12-28 20:14] cmuench opened #120 "Porting command: sys:setup:change-version"
Change module setup resource version

[2014-12-28 20:14] cmuench opened #121 "Porting command: sys:setup:compare-versions"
Compare module version with core_resource table.

[2014-12-28 20:14] cmuench opened #122 "Porting command: sys:setup:incremental"
List new setup scripts to run, then runs one script

[2014-12-28 20:16] cmuench opened #123 "Porting command: sys:setup:remove"
Remove module setup resource entry

[2014-12-28 20:16] cmuench opened #124 "Porting command: sys:setup:run"
Runs all new setup scripts.

[2014-12-28 20:16] cmuench opened #125 "Porting command: sys:store:config:base-url:list"
Lists all base urls

[2014-12-28 20:16] cmuench opened #126 "Porting command: sys:store:list"
Lists all installed store-views

[2014-12-28 20:16] cmuench opened #127 "Porting command: sys:url:list"
Get all urls.

[2014-12-28 20:16] cmuench opened #128 "Porting command: sys:website:list"
Lists all websites

[2014-12-28 20:16] #128 closed, assigned to cmuench

[2014-12-28 20:16] #126 closed, assigned to cmuench

[2014-12-28 20:17] #59 closed, assigned to cmuench

[2014-12-28 20:17] #60 closed, assigned to cmuench

[2014-12-28 20:17] #61 closed, assigned to cmuench

[2014-12-28 20:17] #62 closed, assigned to cmuench

[2014-12-28 20:17] #63 closed, assigned to cmuench

[2014-12-28 20:17] #64 closed, assigned to cmuench

[2014-12-28 20:17] #65 closed, assigned to cmuench

[2014-12-28 20:17] #66 closed, assigned to cmuench

[2014-12-28 20:17] #67 closed, assigned to cmuench

[2014-12-28 20:17] #68 closed, assigned to cmuench

[2014-12-28 21:55] #23 closed, assigned to cmuench

[2014-12-28 21:57] #26 closed, assigned to cmuench

[2014-12-28 21:59] #107 closed, assigned to cmuench

[2014-12-30 21:54] #82 closed, assigned to cmuench

[2015-01-01 09:31] cmuench commented on #35
Implemented.

[2015-01-01 09:31] #35 closed

[2015-01-01 09:32] cmuench commented on #36
Implemented.

[2015-01-01 09:32] #36 closed

[2015-01-01 09:32] cmuench commented on #38
Implemented.

[2015-01-01 09:32] #38 closed

[2015-01-01 10:04] cmuench commented on #50
Working

[2015-01-01 11:47] cmuench commented on #27
Ported.

[2015-01-01 11:47] #27 closed

[2015-01-01 11:47] cmuench commented on #48
Ported.

[2015-01-01 11:47] #48 closed

[2015-01-01 11:47] cmuench commented on #50
Ported.

[2015-01-01 11:47] #50 closed

[2015-01-01 11:48] cmuench commented on #52
Ported.

[2015-01-01 11:48] #52 closed

[2015-01-01 11:58] cmuench commented on #118
TODOs:

* Vendors
* Attribute Count
* Customer Count
* Category Count
* Product Count

[2015-01-01 11:59] cmuench commented on #25
Ported.

[2015-01-01 11:59] #25 closed

[2015-01-01 12:09] cmuench opened #132 "Porting command: giftcard:create"
Create a gift card with a specified amount

[2015-01-01 12:10] cmuench opened #133 "Porting command: giftcard:info"
Get gift card account information by code

[2015-01-01 12:10] cmuench opened #134 "Porting command: giftcard:remove"
Remove a gift card account by code

[2015-01-01 12:11] cmuench opened #135 "Porting command: cms:banner:toggle"
Toggle a banner (Enterprise only)

[2015-01-01 12:11] cmuench opened #136 "Porting command: cms:page:publish"
Publish a CMS page revision (Enterprise only)

[2015-01-01 12:12] cmuench opened #137 "Porting command: admin:user:unlock"
Release lock on admin user for one or all users (EE only)

[2015-01-01 13:53] cmuench commented on #34
Ported.

[2015-01-01 13:53] #34 closed

[2015-01-01 13:53] cmuench commented on #37
Ported.

[2015-01-01 13:53] #37 closed

[2015-01-01 14:15] EliasZ commented on #34
Heh, I was also working on this (and #37). Pushed to [develop-37-34](https://github.com/eliasz/n98-magerun2/tree/develop-37-34) branch. Let me know if you want to do anything with the code, otherwise I will delete the branch and sync with upstream.

[2015-01-01 14:19] EliasZ commented on #34
To prevent this from happening in the future maybe tag issues which are being worked on?

[2015-01-01 14:30] cmuench commented on #34
@EliasZ :-) Sorry. We are too fast. I created a new label "in progress".

[2015-01-01 17:38] cmuench commented on #124
Implemented.

[2015-01-01 17:38] #124 closed

[2015-01-02 10:05] EliasZ commented on #92
This, and many other commands, is a case of toggling a config value. As you already have `config:set` and `config:get` you could create an abstract class which proxies into these commands instead of completely recreating the `AbstractMagentoStoreConfigCommand`.

[2015-01-02 10:32] cmuench commented on #92
Yes, thanks for hint. I didn't notice that we duplicated the code in the abstract class.

[2015-01-03 15:10] cmuench commented on #119
Implemented.

[2015-01-03 15:10] #119 closed

[2015-01-03 15:12] cmuench commented on #118
Thanks for your work. Now we only need the vendors to close the issue.

[2015-01-03 15:13] cmuench commented on #83
Thanks. Can you commit your config.yaml? The new command is currently missing there.

[2015-01-03 15:59] EliasZ commented on #83
Ah, I see. I am only using the testing framework to execute commands to verify them so I didn't even notice that file required updating. How do you run the actual n98-magerun2 tool from the command line during development?

[2015-01-03 16:30] cmuench commented on #118
Mission completed :+1:

[2015-01-03 16:30] #118 closed

[2015-01-03 17:55] cmuench commented on #83
I use "bin/n98-magerun2" inside a Magento 2 installation.
Additionally i created an alias in my .bashrc file.

alias n98-magerun2-dev='php /<path_to_magerun>/bin/n98-magerun2'

[2015-01-03 18:48] cmuench commented on #83
`dev:module:observer:list` command is still missing in config.yaml. Should i add it?

[2015-01-08 22:29] #83 closed

[2015-01-10 15:47] cmuench commented on #91
Ported

[2015-01-10 15:47] #91 closed

[2015-01-10 15:47] cmuench commented on #92
Ported.

[2015-01-10 15:47] #92 closed

[2015-01-10 15:51] #90 closed

[2015-01-10 17:10] cmuench opened #141 "dev:asset:clear command"
Removed files in `pub/static/frontend/<Vendor>/<theme>` folders. This cause Magento 2 to republish all assets again.

[2015-01-26 16:59] cmuench commented on #121
Ported.

[2015-01-26 16:59] #121 closed

[2015-01-30 11:37] cmuench commented on #117
Ported.

[2015-01-30 11:37] #117 closed

[2015-01-30 11:37] cmuench commented on #116
Ported.

[2015-01-30 11:37] #116 closed

[2015-01-30 12:43] cmuench commented on #112
Ported.

[2015-01-30 12:43] #112 closed

[2015-01-30 12:44] cmuench commented on #113
Ported.

[2015-01-30 12:44] #113 closed

[2015-01-30 12:45] cmuench commented on #115
Ported.

[2015-01-30 12:45] #115 closed

[2015-02-12 19:09] andreaspenz commented on #127
Ported: https://github.com/netz98/n98-magerun2/pull/143

[2015-02-12 19:23] andreaspenz commented on #125
Ported in pull request #143

[2015-02-12 20:42] andreaspenz commented on #127
Ported in pull request https://github.com/netz98/n98-magerun2/pull/144

[2015-02-12 21:26] andreaspenz commented on #33
Ported in pull request https://github.com/netz98/n98-magerun2/pull/145

[2015-02-12 22:02] andreaspenz opened #146 "PHP 5.4"
We do not need to test against php5.4 anymore because magento dropped the support for that https://github.com/magento/magento2/blob/develop/composer.json#L11

[2015-02-12 22:07] andreaspenz commented on #146
https://github.com/netz98/n98-magerun2/pull/147

[2015-02-13 08:28] cmuench commented on #146
Right. Already merged. Thanks.

[2015-02-13 08:28] #146 closed

[2015-02-13 08:31] #125 closed

[2015-02-13 08:32] #127 closed

[2015-02-13 08:32] #33 closed

[2015-02-13 17:07] andreaspenz commented on #32
Ported in pull request https://github.com/netz98/n98-magerun2/pull/148

[2015-02-13 17:44] andreaspenz commented on #30
Ported in pull request https://github.com/netz98/n98-magerun2/pulls

[2015-05-19 10:00] #77 closed

[2015-06-08 15:08] erikhansen opened #150 "db:dump doesn't work after 0.74-beta10"
In Magento 2 0.74-beta10, the `app/etc/config.php` file was split into two files: `config.php` and `env.php`.

`env.php` now stores the database configuration information, as documented here: [http://devdocs.magento.com/guides/v1.0/config-guide/config/config-php.html#config-php-upgrade](http://devdocs.magento.com/guides/v1.0/config-guide/config/config-php.html#config-php-upgrade)

After 0.74-beta1

[2015-06-08 16:12] cmuench commented on #150
@erikhansen This was fixed in dev version for 10 days.
https://github.com/netz98/n98-magerun2/commit/e1a41948bddf080766878e1a173ef09fb920649f

Current dev version could be downloaded here: http://files.magerun.net/n98-magerun2-dev.phar

[2015-06-08 16:30] erikhansen commented on #150
@cmuench - You guys are on it! Sorry I didn't test the dev version before submitting this issue. I'll make sure to do that in the future. Magerun is an amazing tool! Closing this issue…

[2015-06-08 16:30] #150 closed

[2015-06-08 16:34] erikhansen commented on #141
You might also want to consider removing the contents of the `var/view_preprocessed/less/frontend/<vendor>/<theme>` and `var/view_preprocessed/source/frontend/<vendor>/<theme>` folders. If you don't do that, then any changes made to the assets in `app/design/frontend/<vendor>/<theme>` will not get published to the `pub/static/frontend/<Vendor>/<theme>` folder.

[2015-06-08 16:37] cmuench commented on #150
@erikhansen no problem. Feel free to create issues here.

[2015-08-24 13:50] amenk opened #151 "db:* does not work with 1.0.0-beta - read env.php instead of config.xml"
$ n98-magerun2.phar db:dump sql/master.sql --only-command
    DB settings was not found in config.xml file

DB Config is now in app/etc/env.php

[2015-08-24 15:50] amenk commented on #151
Already fixed in develop / unstable. Sorry for the noise.

[2015-08-24 15:50] #151 closed

[2015-08-25 12:14] tkn98 commented on #151
Best flaws are those already fixed. Thanks for taking care to report this!

[2015-09-11 21:23] amenk opened #152 "sys:maintenance broken with M2 1.0.0-beta2"
$ n98-magerun2.phar sys:main --off
	PHP Fatal error:  Call to a member function get() on null in phar:///usr/local/bin/n98-magerun2.phar/src/N98/Magento/Command/System/MaintenanceCommand.php on line 48
	PHP Stack trace:
	PHP   1. {main}() /usr/local/bin/n98-magerun2.phar:0

Looks to me like the Object Manager can not be fetched?

[2015-10-14 15:52] redboxdigital-m2 commented on #72
Adding this as a note to me (or anyone else) who fancies adding this.

This would be a wonderful feature to add, and shouldn't be too complex. The script

[code]

goes a long way towards this. Running something like

[code]

Gives you the ability to run commands like:

[code]

Which will output `"catalog_events_listener"`.

[2015-11-05 10:26] cmuench commented on #152
The fatal error is now fixed, but we have now a toggle problem. I try to fix it soon.

[2015-11-14 10:10] cmuench commented on #152
@amenk Should now work in latest RC2

[2015-11-14 10:11] cmuench commented on #109
The magento2 core contains now a command "index:reindex".

[2015-11-14 10:11] #109 closed

[2015-11-14 10:12] cmuench commented on #108
Magento 2 core contains now a command "index:reindex" with option to provide a single indexer by a parameter. I don't know if we really need a wrapper with interaction.

[2015-11-14 10:12] #102 closed

[2015-11-14 10:12] #103 closed

[2015-11-14 10:12] #104 closed

[2015-11-14 10:12] #105 closed

[2015-11-14 10:12] #106 closed

[2015-11-14 10:28] #94 closed

[2015-11-14 10:56] cmuench commented on #87
The profiler is now managed by ENV variables. So n98-magerun should not manipulate the webserver settings.

for apache:

`SetEnv MAGE_PROFILER html`

[2015-11-14 10:56] #87 closed

[2015-11-14 11:23] cmuench commented on #88
ported

[2015-11-14 11:23] #88 closed

[2015-11-14 11:24] cmuench commented on #81
Now part of magento 2 core. Command: "module:enable"

[2015-11-14 11:24] #81 closed

[2015-11-14 11:24] cmuench commented on #80
Now part of magento 2 core. Command: "module:disable"

[2015-11-14 11:24] #80 closed

[2015-11-14 12:16] cmuench commented on #72
I used already bootstrapped magento.
If the command is called the object manager is directly present as $di.

Example output:

[code]

[2015-11-14 12:16] #72 closed

[2015-11-14 15:10] redboxdigital-m2 commented on #72
:+1:

[2015-11-14 17:27] cmuench commented on #114
Command ported.

[2015-11-14 17:27] #114 closed

[2015-11-14 17:29] cmuench commented on #137
Already part of Magento 2 core.

[2015-11-14 17:29] #137 closed

[2015-11-14 17:30] #32 closed

[2015-11-14 17:31] #108 closed

[2015-11-14 17:31] cmuench commented on #28
Already part of Magento 2 core (command setup:uninstall)

[2015-11-14 17:31] #28 closed

[2015-11-14 17:32] cmuench commented on #31
Already part of Magento 2 core (please note that values must be passed as options)

[2015-11-14 17:32] #31 closed

[2015-11-14 17:33] #30 closed

[2015-11-14 17:56] cmuench commented on #24
ported.

[2015-11-14 17:56] #24 closed

[2015-11-14 20:05] ktomk commented on #31
I'd say for portability of setup scripts / configuration management (hs:ccd with scripts), it could be of benefit to have a compatible command available.

[2015-11-15 12:01] cmuench commented on #31
@ktomk Some mechanics in magento are really different. It should be not a big effort to update existing commands. I don't know how we can be compatible without replacing the original core command.

[2015-11-16 04:14] ktomk commented on #31
I thought more about aliasing the command and mapping options, not re-creating core functionality. If it can't be compatible (e.g. new mandatory option), then my idea won't work.

[2015-11-26 10:52] maxbucknell opened #154 "`db:import` from stdin"
I want to load a database and pass it to an import without going through a file. For example

[code]

This worked, but the command didn't terminate properly after the command ended. I was unable to type at my terminal, and I had to exit and re-enter, at which point everything was fine.

Given you don't have an option in `db:import` for reading `stdin`, I'm guessing this is not a supported use case

[2015-11-26 12:32] tkn98 commented on #154
Good question. `db:import` is merely a wrapper to `exec` the `mysql` program. It should be an easy test if this works when the filename parameter is made optional (try with a quick hack). Otherwise in your case it seems that end-of-file is not detected via `/dev/stdin`  which makes sense as the handle is still open even if no more data is "passed via pipe".

So far I don't understand fully why thi

[2015-11-27 21:45] ktomk commented on #154
@maxbucknell: The `db:import` needs to be changed from `exec`  to `passthru`, that could work. `/dev/stdin` as `$fileName` could trigger this. Ref: https://github.com/netz98/n98-magerun2/blob/develop/src/N98/Magento/Command/Database/ImportCommand.php#L194

 And `-c gzip`  doesn't make sense with the pipe (I think).

[2015-11-28 08:35] Rokko11 opened #155 "Installation fails because of authentification"
Hi!

I try to install Magento 2 via command-line-script. It fails, because the URL `https://repo.magento.com/packages.json` returns the String `Authorization needed`

The Log:

[code]

Kind regards,
Rokko

[2015-11-28 08:56] Rokko11 commented on #155
Sorry, this is definitely not a magerun-issue. When installing Magento via git clone and composer, same error occurs.

[code]

[2015-11-28 09:05] ktomk commented on #155
@Rokko11

[2015-11-28 10:13] maxbucknell commented on #154
It's worth mentioning that the import worked perfectly. My database was imported as I expected, and it's not fair to say I couldn't type.

@ktomk The example is a silly example. What I was actually doing was dumping a file on a server and curling it and piping it in. In this case, gzip saves some bites. I love that gzip is streamable.

[2015-11-30 12:30] tkn98 commented on #154
Yes, piping is a good option.

[2015-12-02 22:14] julienvb opened #156 "Installation Script not found"
Hi,

When running a clean install "n98-magerun2.phar install", the installation halts and throws an error:[RuntimeException]
Installation script was not found.

![screen shot 2015-12-02 at 23 12 06](https://cloud.githubusercontent.com/assets/12121188/11545894/38ff9882-994a-11e5-9d25-71e4f395ddc7.jpg)

Any ideas how to resolve this issue?

Thanks!

[2015-12-03 08:24] tkn98 commented on #156
I think the error message could be made more distinct. For example right now from the message magerun reports it is not clear to me whether or not this is an error from within magerun or the magento 2 install command itself that is invoked behind the scenes.

That said, it could be that this is a magento installer problem. Please try the manual install and report back if it works. Compare with #15

[2015-12-03 10:53] julienvb commented on #156
Hi,

Please find attached a verbose report of running n98-magerun2 from the command line.
Let me know if this helps identifying the problem.

[log_n98.pdf](https://github.com/netz98/n98-magerun2/files/50703/log_n98.pdf)

Thanks!

[2015-12-03 14:55] tkn98 commented on #156
That is the authentication required problem:

 The 'https://repo.magento.com/packages.json' URL required
authentication.
 You must be using the interactive console to authenticate

(from the PDF)

I can confirm your report is a duplicate of #155 now.

[2015-12-03 14:55] #156 closed

[2015-12-04 16:48] cmuench commented on #156
@julienvb Please try develop version. We added a check for not set authentication.

`n98-magerun2.phar self-update --unstable`

[2015-12-05 17:06] cmuench commented on #123
Obsolete.

[2015-12-05 17:06] #123 closed

[2015-12-05 17:07] cmuench commented on #110
Obsolete.

[2015-12-05 17:07] #110 closed

[2015-12-15 02:26] robbieaverill opened #157 ""Undefined index moduleFolder""
When using `dev:module:create`, it creates the module skeleton but shows the following error:

[code]

The module is created successfully, however the CLI outputs an error:

[code]

[2015-12-17 02:47] robbieaverill commented on #70
With the introduction of plugins, perhaps class rewriting might become almost obselete?

[2015-12-17 07:22] ktomk commented on #70
@robbieaverill  Well, I might imagine what you want to say, but if so from that standpoint I would tend to add as well that class rewriting should have been used as much as last resort (and by default: not at all) as much as using interceptors in Magento 2 :).

I'm not yet profound with Magento 2 class rewrites so I can't say if it actually exists as it did in Magento 1. However Magento 2 does hav

[2015-12-17 09:36] robbieaverill commented on #70
Hi Tom,

Good point. Preference is still relevant for this command especially with
controllers, and the odd rewrite that persists or is needed for a
particular reason.

R

On Thursday, 17 December 2015, Tom Klingenberg <notifications@github.com>
wrote:

--
*Robbie Averill*
LA PETITE MANOUCHE - NZ Gypsy Jazz Guitar Duo
Phone: +64 27 321 4758
contact@lapetitemanouche.com
www.lapetitemanouche.com

[2015-12-17 09:44] Vinai commented on #70
Reference https://github.com/dmanners/DavidAndVinai_PreferencesInfoCommand/

[2015-12-18 15:30] tkn98 opened #160 "Stopfile broken"
Quick report: It's broken. Should be `.n98-magerun2`, shouldn't it?

[2015-12-20 19:24] robbieaverill commented on #157
The patch for this issue has been merged into `develop`, and builds are passing - closing.

[2015-12-20 19:24] #157 closed

[2015-12-23 04:09] robbieaverill commented on #132
Hi @cmuench - I can work on this, starting by cherry picking Steve's commit 74305702947f935e1266b8e164c32115c1b02ccf from the n98-magerun repository and making the required changes, however suggest that the other giftcard info and remove commands should become part of the same project since the framework for them would come over with that cherry pick too.

[2015-12-23 06:45] ktomk commented on #132
Hi @robbieaverill, yes please do so as you see fit, sounds good.

[2015-12-23 20:11] robbieaverill commented on #132
Hi @ktomk

Porting done in b91767f for Create, Info and Remove (only minor adjustments required from Steve's original commit.

I have only done smoke testing at this point, but feel free to take a look at it.

Cheers,
Robbie

[2015-12-23 20:31] robbieaverill commented on #134
Covered in #132

[2015-12-23 20:31] robbieaverill commented on #133
Covered in #132

[2015-12-23 20:50] robbieaverill opened #164 "Feature: dev:class:plugin:list"
**Feature request:** It would be great to be able to pass a class name into a command like `dev:class:plugin:list` and have it show which plugins are subscribed to methods on the class, or by specific methods, sorted by the sort order and indicating whether they are active or disabled.

**Example descriptions:**

[code]

**Example listing all plugins attached to a class:**

[code]

**Example listi

[2015-12-23 21:21] ktomk commented on #132
Hi @robbieaverill, regarding your squash question: Yes, squashing will change the author details. You can preserve the author as well explicitly, however, you can credit Steve as well within the commit message ("code is based on a work by Steve ...") and I'll add him to the changes file (as you both then wrote the code) so credit is visible prominently.

As you change the file I think it's fine to

[2015-12-24 00:18] steverobbins commented on #132
@ktomk No preference.

[2015-12-26 08:04] cmuench commented on #134
done.

[2015-12-26 08:04] #134 closed

[2015-12-26 08:04] cmuench commented on #133
done.

[2015-12-26 08:04] #133 closed

[2015-12-26 08:05] cmuench commented on #132
done.

[2015-12-26 08:05] #132 closed

[2015-12-30 00:29] ktomk opened #168 "Version mismatch"
A quick fix as version 1.1.1 was tagged, but the internal version number was not raised. So the tag is 1.1.1 and the readme, too, but the phar file is stuck on 1.1.0.

[2015-12-30 00:36] ktomk commented on #168
Fixed in 20e14d258be0ae1290983f06486608d6bf44ef0c .

[2015-12-30 00:36] #168 closed

[2016-01-05 22:49] ktomk commented on #101
Done in #169

[2016-01-05 22:49] #101 closed

[2016-01-14 08:00] WouterSteen commented on #156
When you do a n98magerun2 install for the first time, the installer asks to input your public and private key (from magentocommerce.com) to store it in auth.json in your composer directory.

If the installation fails on authentication, please check auth.json in your composer dir and check if the public and private key are correct.
You have to have a key here:
https://www.magentocommerce.com/magent

[2016-01-14 08:32] tkn98 commented on #156
We should/could add a precondition check. I've seen M2EE projects fail that are under version control themseleves if the credentials aren't in place *before* the `composer install` command.

[2016-01-30 06:21] ktomk commented on #160
Fixed in 19d896ff2fd811aa851cac46da69bc7bc9bbe3c5 in December already.

[2016-01-30 06:21] #160 closed

[2016-01-30 09:55] ktomk commented on #155
I filed an related issue upstream, it's https://github.com/magento/magento2/issues/3108 . When it's possible to provide authentication as known with composer in the future, this should be easier to handle. So far I can only suggest to place the auth information in three places:

1. in your original composer home directory (`$HOME/.composer/auth.json` )
2. next to `composer.json`  in the Magento pr

[2016-01-30 17:09] peterjaap opened #171 "make:config:routes in dev:console creates system.xml"
This concerns the code-generator branch

<img width="391" alt="screenshot 2016-01-30 18 08 59" src="https://cloud.githubusercontent.com/assets/431360/12697161/975ae066-c77c-11e5-9259-bc5b2e4c4143.png">

[2016-02-02 14:22] simkea opened #172 "BaseURL Check Error"
here is the row from my mage2 database -> core_config_data:

| 2 | default | 0 | web/unsecure/base_url | http://192.168.78.45/ |
| 3 | default | 0 | web/secure/base_url | https://192.168.78.45/ |

The Result from command "n98-magerun2 sys:check":

✖ Invalid Secure BaseURL:  of Store: default Wrong hostname configured. Hostname must contain a dot
✖ Invalid Unsecure BaseURL:  of Store: default Wrong

[2016-02-02 15:10] tkn98 commented on #172
This needs review, beacause I know you can run an M2 store with an IP address based base-URL, but it might not have been correct in M1 and we perhaps ported the base-URL validator too early.

I assume your site work correctly with your base-URL setting, right?

And thanks for reporting.

[2016-02-02 17:04] simkea commented on #172
Yes! My magento 2 is running perfect :)

[2016-02-03 17:14] diazwatson opened #173 "Composer\DependencyResolver\SolverProblemsException"
Hi guys,

Installing magento-ce-2.0.2 I get this error
![seur2_ _php__usr_local_bin_n98-magerun2_phar_install_ _179x38](https://cloud.githubusercontent.com/assets/1080386/12789884/f623eb12-ca9f-11e5-9e7a-5272ffce5532.png)

[code]

Any ideas of what can be causing this?

[2016-02-03 17:18] diazwatson commented on #173
It seems to be fixed now.
The cause of the issue was the lack of ext-imagick library in my system.

[2016-02-03 17:49] ktomk commented on #173
Ah, that's a good reminder! All platform requirements should be checked prior install. But I don't have any composer command to do such a check yet.

[2016-02-03 19:42] cmuench commented on #171
@peterjaap Thanks for testing. I corrected the command and deployed a new test phar file.

[2016-02-04 07:49] peterjaap commented on #171
Verified, works now;

[code]

[2016-02-04 07:49] #171 closed

[2016-02-05 12:44] ktomk commented on #172
@simkea: Can you run the config:get command and check those config paths with it, too? From what I see in your report is, that the base-URLs are empty when the check is done. So that is the actual problem (in use is: *`Magento\Framework\App\Config\ScopeConfigInterface`* in `CheckAbstract::__construct()).

[2016-02-05 13:18] simkea commented on #172
Result:

mage2-shop# n98-magerun2.phar config:get
Couldn't find a config value for ""

oO  okay...

[2016-02-05 17:36] ktomk commented on #172
@simkea: My fault, sorry for being that imprecise about the *full* command, the path needs to be given:

    n98-magerun2.phar config:get "*/base_url"

this command should list the settings you also showed from the database table. However I found the culprit and a fix is on the way.

Thanks again for reporting the issue!

[2016-02-05 17:43] ktomk commented on #172
The fix is now part of the development version. You can do a self-upgrade to the unstable variant to obtain it. It will become part of the next stable version when released.

[2016-02-05 17:43] #172 closed

[2016-02-05 17:43] simkea commented on #172
thx ;)

[2016-02-10 23:23] aguimaraes opened #174 "You should not accept an invalid password when installing"
install command is allowing passwords that are not compliant with this rule:

[2016-02-10 23:38] ktomk commented on #174
Yes, that's normally known (at least I imagine it that way), it works well or did you run into an issue with your password? Do you want to have this (not state of the art anyway) rule applied? Do you need it?

[2016-02-11 11:17] aguimaraes commented on #174
Hello,
It seems I was a bit tired and my message looks a little rude and incomplete because of my laziness.
Sorry about that.

That was just a hiccup, I was able to finish the installation gracefully.
I just found it annoying to restart the process because of the lack of information about the password. I'm new to magento and did not know that rule.

Thank you.

[2016-02-11 14:34] tkn98 commented on #174
@aguimaraes: It should work with any password. AFAIK the check within Magento is only when creating a user in the adminhtml area. Or do you mean the message is given but so late in the process that it was hindering a good working experience? Please share.

[2016-02-13 09:29] peterjaap opened #175 "make:controller in dev:console (code generator) fails"
I've tried several methods and it all gives some vague warning.

[code]

<img width="1130" alt="screenshot 2016-02-13 10 28 50" src="https://cloud.githubusercontent.com/assets/431360/13026972/a28971bc-d23c-11e5-84e9-acc7d31b8119.png">

I'm not sure why at first it returns `ErrorException with message 'preg_quote() expects parameter 1 to be string, object given'` and later on the exact same command

[2016-02-14 02:06] diazwatson opened #176 "Sample data fails because of authentication error"
Every time try to install the sample data I face this issue:

I usually solved it by running `composer update` adding my credentials and then running magento `sampledata:deploy`

Until now that I stopped to think about it, realized that the issue arises because the installation is looking for credentials into the path where I am installing Magento rather than the path where my credentials  actuall

[2016-02-14 14:45] ktomk commented on #176
Per-project authentication in composer is done by placing an `auth.json` file next to the `composer.json` file. This is my recommendation for proper credential sharing in Magento 2 (and other composer based projects if the credentials are on a pre-project basis).

Doing this globally is *not* possible with Magento 2 (in difference to every other project) because Magento 2 changes the composer home

[2016-02-15 11:07] diazwatson commented on #176
I see, thanks for the explanation Tom

[2016-02-15 12:34] tkn98 commented on #176
Just let me know if it's helpful for you to progress and what is working for you. Also IIRC it's possible to pre-fill the autho store via composer, we use it for the automated integration of N98-Magerun. Just ask in case you have any further questions.

[2016-02-20 00:16] diazwatson commented on #176
Thanks @tkn98
So far what it works for me is placing the `auth.json` file into the project directory.
I will test the technique of pre-fill the auth-store the next time I have to install M2

[2016-03-01 18:57] stefandoorn opened #178 "How to update?"
If installing according to the installation instructions, how to keep this tool up-to-date with updates? Is there also a way to install it as a composer dependency so it can update with every `composer update` run?

[2016-03-03 09:13] cmuench commented on #178
@stefandoorn Like in version 1 we only call the Magento installer. In Magento 2 all updates of the core are done by composer.

[2016-03-03 09:14] cmuench commented on #175
@peterjaap Thanks for reporting. I need some investigation.

[2016-03-03 10:38] peterjaap commented on #175
Seems to be fixed in the latest version though.

[2016-03-03 14:12] stefandoorn commented on #178
I'm not sure this is about updating n98-magerun2 itself. Like composer has a self-update command, does n98-magerun2 have something like this?

[2016-03-03 14:33] cmuench commented on #178
@stefandoorn Yes :-)

`n98-magerun2.phar self-update`

[2016-03-03 14:57] stefandoorn commented on #178
Great. Is there a way to install it as a composer dependency (through composer.json) instead of downloading the file through wget?

[2016-03-03 15:12] cmuench commented on #178
@stefandoorn

https://packagist.org/packages/n98/magerun2

I hope this works for you:

`composer.phar require n98/magerun2`

[2016-03-23 18:47] briceburg opened #183 "support per-condebase configuration"
does magerun2 support custom/per-codebase configuration (as magerun1 did via placing  n98-magerun.yaml in app/etc/ ?)

[2016-03-23 19:11] ktomk commented on #183
Yes, the same configuration principles have been taken over, just the name of the config file has been slightly changed: `n98-magerun2.yaml`.

The file you name is also known as *Project Config File* and the location is:

    <magento-root-path>/app/etc/n98-magerun2.yaml

Just let me know if this does not work for you.

[2016-03-24 11:28] briceburg commented on #183
@ktomk thanks for this clarification. Works! Closing.

[2016-03-24 11:28] #183 closed

[2016-03-29 20:25] RapidMod commented on #172
The magento installation is working properly, other than logging in, but this error still persists

**## the error**

`   magerun2 sys:check

✖ Invalid Secure BaseURL:  of Store: default Wrong hostname configured. Hostname must contain a dot
✖ Invalid Unsecure BaseURL:  of Store: default Wrong hostname configured. Hostname must contain a dot
✔ Empty cookie Domain (secure) of Store: default - OK
✔

[2016-03-30 16:23] ktomk commented on #172
@RapidMod: Can you share the `n98-magerun2.phar --version`  for your report please? That would be great!

[2016-03-31 12:11] RapidMod commented on #172
n98-magerun2 version 1.1.4 by netz98 new media GmbH
Debian GNU/Linux 8
PHP 7.0.4-1~dotdeb+8.1 (cli) ( NTS )
Copyright (c) 1997-2016 The PHP Group
Zend Engine v3.0.0, Copyright (c) 1998-2016 Zend Technologies
    with Zend OPcache v7.0.6-dev, Copyright (c) 1999-2016, by Zend Technologies
Server version: Apache/2.4.10 (Debian)
Server built:   Nov 28 2015 14:05:48
Magento CLI version 2.0.2

[2016-04-02 20:48] ktomk commented on #172
@rapidmod: Can you please update to the development version? It's not fixed in 1.1.4 but in 1.1.5 (develop). It should be gone then.

To do so, just run

[code]

Afterwards try the *`sys:check`* command again. Please report back then.

[2016-04-06 05:32] cmuench commented on #178
@stefandoorn i close this issue. If you have still problems, please feel free to reopen the issue.

[2016-04-06 05:32] #178 closed

[2016-04-06 05:32] #175 closed

[2016-04-06 05:32] #152 closed

[2016-04-10 14:03] ktomk opened #186 "Testsuite CWD = Magento 2 directory takes roughly double the time and memory"
Running the magerun2 testsuite within the Magento2 directory takes roughtly double the time and memory as if not.
- N98_MAGERUN2_TEST_MAGENTO_ROOT=www Time: 1.38 minutes, Memory: 792.25Mb
- N98_MAGERUN2_TEST_MAGENTO_ROOT=. Time: 2.72 minutes, Memory: 1411.50Mb
- N98_MAGERUN2_TEST_MAGENTO_ROOT=../www Time: 2.76 minutes, Memory: 1411.25Mb
- N98_MAGERUN2_TEST_MAGENTO_ROOT=/path/to/n98-magerun2/magent

[2016-04-10 14:05] ktomk commented on #176
@diazwatson: I'll close for now as I assume it works for you. If not, you can still leave comments here. Just saying.

[2016-04-10 14:05] #176 closed

[2016-04-10 14:05] #174 closed

[2016-04-10 14:07] #173 closed

[2016-04-12 12:06] mash1t opened #187 "No input on command admin:user:create"
When executing the command admin:user:create as root user, magerun doesn't allow the user to input data and completely jumps over all input options marking them red.

https://cloud.githubusercontent.com/assets/9307310/14459323/8c4b39a4-00b7-11e6-9c58-7baff03b4b94.png

[2016-04-12 12:25] ktomk commented on #187
looks like non-interactive mode

[2016-04-13 10:05] tkn98 commented on #187
@mash1t: *admin:user:create* is provided by Magento 2 (a core command), please report this issue upstream.

You'll also find the develop version updated, -vvv will now output the concrete command-names so that you can grep whether a command is a *core command* (form Magento 2) or just a "standard" *command*.

[2016-04-13 10:05] #187 closed

[2016-04-27 10:00] mzeis opened #191 "Command install: parameter --replaceHtaccessFile=no doesn't work"
When trying to automatically answer the question

    Write BaseURL to .htaccess file? [n]

with "no" by passing `--replaceHtaccessFile=no`, I'm still asked.

I assume this happens because in https://github.com/netz98/n98-magerun2/blob/3523cb80728ba87c5e87ae75af24e54e76ba2e94/src/N98/Magento/Command/Installer/SubCommand/RewriteHtaccessFile.php#L24 the question will only be skipped if I specify a v

[2016-04-27 11:34] tkn98 commented on #191
Thanks for your report. This is correct, [the argument is optional](https://github.com/netz98/n98-magerun/blob/0c8d1b9b630f2b93a00da77ad5e43fd2f56bdb90/src/N98/Magento/Command/Installer/InstallCommand.php#L80) but it's optionality is not checked.

[2016-04-28 16:10] ktomk commented on #191
@mzeis: Do you plan to do a PR to fix this? Just want to know for planning. Thanks :)

[2016-04-29 06:54] mzeis commented on #191
@ktomk I can't give a timeline on it, that's why I didn't commit to do it. :-) If this is not a big problem then you can assign the issue to me.

[2016-04-29 08:17] tkn98 commented on #191
@mzeis: No worries, it's patched in development right now. Thanks for taking the time to report it. Please get the latest development version and let me know if it works for you now.

[2016-04-29 18:29] ktomk commented on #191
@mzeis: While at work (the other account), I was that much in a hurry that I misread your comment. It's not a big problem, so I just could have assigned you, but instead I misread it and I had the wrong impression that your shedule is too tight. So I just patched it. Sorry, I didn't wanted to push you away. So please check if the develop version works (`n98-magerun2.phar self-update --unstable`, u

[2016-04-30 08:25] ktomk commented on #191
I think the fix is well now, I also compared and streamlined with a similar sub-command in the installer so I'm pretty optimistic this is fixed. Will be part of the next release which should be available soon. Just report back if there are still issues, I consider it closed until further notice.

[2016-04-30 10:07] ktomk commented on #191
Released with 1.1.7.

[2016-04-30 11:13] mzeis commented on #191
Hi,

wow that was quick, thanks!

I'm afraid I'm still getting asked. I can skip the sample data question though when providing this parameter the same way:

    $ wget https://files.magerun.net/n98-magerun2.phar
    $ chmod +x n98-magerun2.phar
    $ ./n98-magerun2.phar --version
    n98-magerun2 version 1.1.7 by netz98 new media GmbH

    $ ./n98-magerun2.phar install --replaceHtaccessFile=no --

[2016-04-30 15:25] ktomk commented on #191
@mzeis: Ok, thanks for the re-report. The build is broken. It should offer magento-ce-2.0.5 as first package but it does not. I can't say what's broken yet in the build process and have to take a look first.

[2016-05-05 12:35] ktomk commented on #191
@mzeis: The build has been fixed. You should now be able to update to the fixed version. Please test again.

[2016-05-05 16:03] ktomk commented on #191
@mzeis: (sorry, again) The build has been fixed. You should now be able to update to the fixed version. Please test again. My own checks looked good so far now.

[2016-05-06 00:12] federivo opened #194 "Command db:console using --pass as password parameter"
Hi!
I noticed the db:console command is trying to connect to mysql cli using --pass param instead of --password which throws:

`mysql: [ERROR] unknown variable 'pass=mypassword*'`

[2016-05-06 05:02] ktomk commented on #194
Thanks for the quick fix, this is fixed in 1.1.10 which is available for download/self-update already.

[2016-05-06 05:02] #194 closed

[2016-05-09 10:52] agoeurysky commented on #91
@cmuench are you sure this command works ?
This command adds a config entry with path `dev/debug/template_hints`, but the Magento2 path seems to be `dev/debug/template_hints_storefront` and `dev/debug/template_hints_admin`.
Thanks.

[2016-05-14 11:03] mzeis commented on #191
Sorry to ask this, but did you get asked the question if you didn't specify the flag and did you get a `.dist` copy of the .htaccess file when specifying `--replaceHtaccessFile=yes`? I tried all variants with a re-downloaded PHAR file and didn't get it...

[2016-05-14 17:51] ktomk commented on #191
@mzeis: I didn't test all permutations. And I never checked the htaccess file actually, just running the command with the flag. `--replaceHtaccessFile=no` should prevent to ask in any case, at least according to current code in master (src/N98/Magento/Command/Installer/SubCommand/RewriteHtaccessFile.php:17).

[2016-05-18 19:32] hostep opened #198 "Can't install magerun2 greater then v1.1.6 using composer while using Magento 2 (due to symfony/console dependency)"
Hi guys

We have set up Magento 2 using composer.
And also added n98/magerun2 as a dependency in the composer.json file.

But lately I've been noticing we don't get any more updates, we are stuck at version 1.1.6

After some testing and looking around, this seems to be because `n98/magerun2` depends on `symfony/console: ~2.7.10` while `magento/composer` currently depends on `symfony/console: ~2.3

[2016-05-18 20:21] ktomk commented on #198
@hostep I've just updated the development version and made the version requirements exactly the same. I think this should resolve your issue, if not, please let me know.

I also hope for the composer version this won't bite. IMHO that one is more important so that everyone is on stable grounds:

- https://github.com/magento/magento2/issues/4359
- https://github.com/magento/composer/pull/2

Do you

[2016-05-19 06:20] hostep commented on #198
Thansk, it seems to work now:
[code]

`composer/composer` version `1.0.0-alpha10` is installed, and doesn't seem to give any conflicts, so no worries there.

For me this isn't a very urgent issue, so you can just stick to your normal release cycle and take this change with the next stable release.

Thanks again!

[2016-05-19 06:20] #198 closed

[2016-05-22 13:31] hostep opened #199 "Regression - db:dump command with @stripped only dumps structure and no data"
Hi

We upgrade n98/magerun2 from 1.1.6 to 1.1.12 and noticed that the database dumps are a lot smaller then they used to be.

It looks like this is caused by the `@stripped` group, we strip out. If we omit the `strip` parameter, the dumps are correct.
If we use the `@stripped` group, we only get the structure of the tables which get stripped, but no actual data and structure of all the other table

[2016-05-22 15:55] ktomk commented on #199
@hostep: Thanks for the report, sounds like something was eaten by the update. Can you provide an example command for illustration?

[2016-05-22 16:20] ktomk commented on #199
@hostep: Not necessary any longer, it's rather straight forward. I tested with `bin/n98-magerun2 db:dump --strip="@stripped" dump.sql` and could immediately reproduce. I'lll release a new version soon.

[2016-05-22 17:12] hostep commented on #199
Awesome, thanks!

[2016-05-22 20:03] #199 closed

[2016-05-22 20:14] ktomk commented on #199
@hostep: 1.1.13 is out that addresses this issue. To answer your question about the test: We don't test the actual execs the rest was covered. So thanks a lot for the quick report. It should be possible to add an integration test that actually compares with the file dumped and I perhaps would already have written it but right now the test-suite and build is shaky because the Magento 2 repository i

[2016-05-22 20:19] ktomk opened #200 "Add Integration Test with db:dump --strip"
In  #199 a miss on actual dump execs came to light. Write one test that creates a `dump.sql` file that should reflect both stages, that is the table creation only and the table creation and data part (two different mysql commands of which appends to the dumpfile of the first one).

With a blank install on Travis this test should run fast enough. Test could be done for the created file's size with

[2016-05-22 20:43] hostep commented on #199
Great, I can confirm everything is fine and dandy again with version 1.1.13.
Thanks once again for the quick feedback and solution!

[2016-05-23 22:10] ktomk commented on #199
A test now covers this scenario.

[2016-05-23 22:12] ktomk commented on #200
Test of dump-file by the file-size now in develop:

- `N98\Magento\Command\Database\DumpCommandTest::realDump`

[2016-05-23 22:12] #200 closed

[2016-05-23 22:15] ktomk commented on #191
@mzeis: Can you please provide a command-line so I can check if I can reproduce it?

[2016-05-24 07:41] hostep commented on #199
Awesome, great job!

[2016-05-24 18:38] ktomk commented on #199
@hostep: Also backported to Magerun 1 ;) And thank you again for your kind feedback.

[2016-05-26 12:15] redboxmarcins opened #201 "xtento Product feed export is causing error when working with crons (M2)"
If you create any export profile then after running any cron related command you get

[code]

[2016-05-26 12:59] redboxmarcins commented on #201
Looks like it is Magento 2 problem not your tool https://github.com/magento/magento2/issues/4719

[2016-05-26 12:59] #201 closed

[2016-05-29 11:53] ktomk commented on #201
@redboxmarcins: Even this might qualify as a flaw in Magento2, this flaw should not cause the undefined index error in N98-Magerun2. Thanks for reporting this issue, it has been addressed with a patch in the development branch and when our automatic build works again will be part of the unstable version. Thanks again for the report!

[2016-05-29 13:29] mzeis commented on #191
I re-tried it with the newest version:

    wget https://files.magerun.net/n98-magerun2.phar
    chmod +x ./n98-magerun2.phar

Results:

* `./n98-magerun2.phar install`: no question, `.htaccess` is not replaced
* `./n98-magerun2.phar install --replaceHtaccessFile="no"`: no question, `.htaccess` is not replaced
* `./n98-magerun2.phar install --replaceHtaccessFile="yes"`: no question, `.htaccess` is

[2016-05-29 13:44] ktomk commented on #191
@mzeis: Most likely not. But when I enter `./n98-magerun2.phar install` there is no installation at all unless I answer some more other questions. You've not documented these for reproduction which makes it hard to follow your issue. Please complete the report with additional parameters and text of each question asked and the values you entered if you're doing this interactively (discouraged).

[2016-05-29 14:03] mzeis commented on #191
@ktom: I wanted to make this easier to reproduce by showing the effect of the parameter with the most simple command possible. Of course I can specify other parameters like the database name etc. but it won't make any difference regarding the parameter ´--replaceHtaccessFile´.

For the sake of completeness, here is an example:

    [03:51 PM]-[user@vm]-[/tmp]
    $ wget https://files.magerun.net/n

[2016-05-29 14:16] ktomk commented on #191
@mzeis: Problem description was fine. Stable build 1.1.14 of the phar is broken, it's not updated to it's own code. Should offer 2.0.7 with first version but phar from the website does not (as your great log shows). I try to reproduce it with the source version and will report back. Thanks for the update.

[2016-05-29 15:31] ktomk commented on #191
@mzeis: Reproduced and fixed. Is now part of the development version. Our automatic build is currently broken, you can try the source version and it is also easy to create the phar from source by executing the `./build.sh` script. Thanks again for taking the time to report this and your patience.

[2016-05-29 15:31] #191 closed

[2016-06-01 09:56] mpingu opened #204 "Cant run on PHP 5.4.45"
I am getting an error on Running magerun-2 on a Debian 7 Server with PHP 5.4.45-1~dotdeb+7.1

The error i am Reciving is the following:

n98-magerun2.phar list
PHP Parse error:  syntax error, unexpected 'class' (T_CLASS), expecting identifier (T_STRING) or variable (T_VARIABLE) or '{' or '$' in phar:///usr/local/bin/n98-magerun2.phar/src/N98/Magento/Command/Customer/AbstractCustomerCommand.php on

[2016-06-01 11:51] tkn98 commented on #204
@mpingu: PHP 5.4 is not supported for Magerun 2. This is not only because it is end-of-life but also because there is not support for PHP 5.4 in Magento 2  (and sooner or later no support for PHP 5.5 for Magento 2.1) .

Please ensure you've got the required PHP version if you want to run the `n98-magerun2.phar`  command.

[2016-06-01 11:52] mpingu commented on #204
Then you should fix.
https://github.com/netz98/n98-magerun2#compatibility
"The tools will automatically be tested for multiple PHP versions (5.4, 5.5). "

So offical you support 5.4

[2016-06-01 12:10] tkn98 commented on #204
You're right, that is outdated information. Fixed in the development version. It will require the release of the next stable version to show the changes on the Github homepage as it defaults to master. Thanks for the report and your patience @mpingu.

[2016-06-01 12:10] #204 closed

[2016-06-08 10:14] SchumacherFM opened #208 "Bug importing config from scripts where value is NULL"
Hi there,

my config script contains some exported database NULLs as you can see below:

[code]

Importing those scripts will result NOT in a real database NULL, we get a string NULL.

[code]

I suggests that the value NULL in a text file gets interpreted as a database NULL.

What do you think?

[2016-06-08 12:45] tkn98 commented on #208
To prevent ambiguities, this needs a flag or even multiple. Quick sketch:

    --null     # do not accept value, set path with database null-value
    --null-as-null   # interpret the value string "NULL" as database null-value

Otherwise if that is possible currently to have NULL values, we should have it.

[2016-06-09 19:12] erikhansen opened #209 "config:set and config:get don't encrypt/decrypt "obscure" config values"
# Issue explanation

The `config:set` and `config:get` values don't work with config fields that have the "type" of "obscure". For an example of this type of field, look here: https://github.com/magento/magento2/blob/develop/app/code/Magento/Authorizenet/etc/adminhtml/system.xml#L24

<hr>
# Steps to reproduce `config:get` error
* Login to M2 admin. Go to _STORES > Configuration > SALES > Payment M

[2016-06-10 16:20] ktomk commented on #209
If you need to get/set an encrypted value (what you call obscured) you have to tell the magerun command that it is encrypted:

*  'config:get` command: use the `--decrypt` switch
*  'config:set` command: use the `--encrypt` switch

The key used for the encryption is the one of the installation. Magerun does not automatically guess that a setting is encrypted (or not).

[2016-06-10 16:20] #209 closed

[2016-06-10 16:25] erikhansen commented on #209
@ktomk Ah, thanks for bringing those flags to my attention. And thanks for all of your work on this amazing tool.

[2016-06-10 16:27] ktomk commented on #209
No problem, please check if these flags do work for you.

[2016-06-10 16:39] erikhansen commented on #209
I just checked and those flags work great.

[2016-06-21 08:42] maderlock opened #211 "Command sys:maintenance ignores options --on and --off"
Both options just toggle the current setting rather than force one way or the other.

[2016-06-24 08:39] p-makowski opened #212 "ScriptCommand.php not compatible with Magento 2.1"
Magento broke public interface in 2.1:

Stack trace:
#0 phar:///usr/local/bin/n98-magerun2.phar/src/N98/Magento/Command/ScriptCommand.php(120): N98\Magento\Command\ScriptCommand->initScriptVars()
#1 phar:///usr/local/bin/n98-magerun2.phar/vendor/symfony/console/Symfony/Component/Console/Command/Command.php(257): N98\Magento\Command\ScriptCommand->execute(Object(Symfony\Component\Console\Input\Arra

[2016-06-27 08:05] tkn98 commented on #212
Magento 2.1 still is RC, isn't it? Have you reported this problem upstream? Breaking the public interface could qualify as flaw in 2.1, so this would be good to know firsthand.

[2016-06-27 08:22] p-makowski commented on #212
M2.1 was unfortunately released on Thu or Fri last week, so I didn't have a chance to report it before release.

[2016-06-27 08:37] tkn98 commented on #212
Yes, just coming back as I see the message. Can you provide instructions on how to reproduce?

[2016-06-27 09:28] hostep commented on #212
FYI: https://github.com/magento/magento2/issues/4840 & https://github.com/magento/magento2/issues/4369

[2016-06-27 09:51] tkn98 commented on #212
The upcoming B2B Edition needs a way to change the version which is then possible via  `\Magento\Framework\App\ProductMetadata`. That's perhaps a reason why this change of the public interface happened. We need to fix this ASAP, let me also fix the build be then.

[2016-06-27 09:58] p-makowski commented on #212
@tkn98
How to reproduce:

1. Set the environment variable N98_MAGERUN2_TEST_MAGENTO_ROOT with a path to a Magento 2.1 installation which can be used to run tests
2. $ vendor/bin/phpunit --filter \N98\Magento\Command\ScriptCommandTest::testExecute

[2016-06-27 14:27] tkn98 commented on #212
The changes are now part of the development version (unstable). It will be fixed in the next stable release (1.1.15).

[2016-06-28 10:26] tkn98 commented on #212
You should see this fixed in stable 1.1.15 release which went out the night. If this does not resolve the issue, please report back and/or reopen.

[2016-06-28 10:26] #212 closed

[2016-06-30 10:58] p-makowski opened #218 "ScriptCommand in 1.1.16: Call to a member function get() on null"
Running script:repo:run X results in the following error:

Stack trace:

#1 phar:///usr/local/bin/n98-magerun2.phar/vendor/symfony/console/Symfony/Component/Console/Command/Command.php(257): N98\Magento\Command\ScriptCommand->execute(Object(Symfony\Component\Console\Input\ArrayInput), Object(Symfony\Component\Console\Output\ConsoleOutput))
#2 phar:///usr/local/bin/n98-magerun2.phar/src/N98/Magento

[2016-06-30 12:40] adiibanez opened #219 "connection leak when importing lot's of rows via n98-magerun script"
n98-magerun2 version 1.1.16

after ~150 rows

 [Zend_Db_Adapter_Exception]
  SQLSTATE[08004] [1040] Too many connections

  [PDOException]
  SQLSTATE[08004] [1040] Too many connections

config:set [--scope[="..."]] [--scope-id[="..."]] [--encrypt] path value

  [Zend_Db_Adapter_Exception]
  SQLSTATE[08004] [1040] Too many connections

  [PDOException]
  SQLSTATE[08004] [1040] Too many connections

[2016-06-30 22:59] ktomk commented on #218
Please provide a single-commit PR to address the fix of this issue only. That PR must not contain any refactoring, but you can if you like provide fixes for the code-style issues that have been introduced in the previous PR.

[2016-07-01 05:42] ktomk commented on #219
Please share the script, but please remove redundant lines and obfuscate private information if necessary.

[2016-07-01 07:33] adiibanez commented on #219
for i in {1..300}; do echo 1; done | awk '{print "config:set \"test" NR "\" \"test" NR "\""}' > lotsofrows.magerun

[2016-07-01 08:53] cmuench commented on #219
@adiibanez Please try to import so many rows as batch with the script command.
https://github.com/netz98/n98-magerun2#n98-magerun-script

This will only open one DB connection and inserts all the config entries in one bootstrapped store.

[2016-07-01 08:57] adiibanez commented on #219
Not the case for me ...

command i was using before was:
bin/n98-magerun2 script lotsofrows.magerun

now I have also tried:

bin/n98-magerun2 script < lotsofrows.magerun
with the very same error "unable to create pipe Too many open files"

[2016-07-04 22:56] ktomk commented on #219
Following the explanation of Alan Storm who is known for his in-depth analysis, ObjectManagert:;;get() should return a singleton instance but in this case this is obviously not the case (otherwise there would not be a hit of the MySql connction limit).

Using a singleton instance does solve the problem.

[2016-07-05 07:45] tkn98 commented on #219
@adiibanez We believe that the bug you reported is fixed in the development version. You can upgrade to it with the `--unstable` switch.

[2016-07-05 07:45] #219 closed

[2016-07-05 08:23] sweikenb opened #221 ""Area code is already set" after upgrade to 2.1"
After upgrading Magento to version 2.1, the "setup:upgrade" command wrapper causes the following error:

Executing the command with the native ./bin/magento will work without errors.

[2016-07-05 08:56] #221 closed

[2016-07-05 08:57] sweikenb commented on #221
Bug in our internal Module. This bug has nothing to do with Magerun2.

[2016-07-07 11:47] SchumacherFM opened #222 "script command very slow"
Hi!

Running this command inside my vagrant box (with bindfs) takes too long:

[code]

In total one second for each `config:set` command.

PHP 7.0.8

Any ideas to speed this up? Have you observed the same?

[2016-07-07 11:53] tkn98 commented on #222
Hmm, that's really long.

Can you try as well with an empty script and a single config call? That might show more about how the time distributes.

Please share the magerun version as well.

IIRC we have some recent fixes for config commands. So please try as well the development version.

[2016-07-07 12:13] SchumacherFM commented on #222
[code]
Cache was off ... scary slow ... 😱 🤓

[2016-07-07 12:13] #222 closed

[2016-07-07 12:33] tkn98 commented on #222
Even with cache off, it shouldn't take that long IMHO.

I also had an idea earlier to provide a config:set for more than one key / value pair at once as in deployment scripts you normally set a bunch of options and it's kind of a batch operation then.

[2016-07-07 13:30] SchumacherFM commented on #222
We set for now 200 config values ... and it's growing ... batch mode would be great.

[2016-07-07 16:04] ktomk commented on #222
@SchumacherFM: Now as I see your report: What cache was that? The one from Magento?

And for batch mode this needs some kind of different interface, would be good if it works well with Symfony Console.

Otherwise perhaps a file that is read (or something provided via stdin / pipe).

[2016-07-07 19:00] SchumacherFM commented on #222
All of the M2 cache was disabled.

I could also port https://github.com/Zookal/HarrisStreet-ImpEx to M2 but if I do I would like to know if you're keen to add it to the magerun2 core and not as a plugin.

[2016-07-08 06:51] ktomk commented on #222
That is great to read and a pretty good suggestion as it would enable us to provide better (internal) config classes for such batch operations.

We're already working on shared code between Magerun 1 + 2 and with some little abstraction the config related tasks are a good candiate to be streamlined between Magento 1 and 2 from what I could see so far.

I have looked into that in the past because o

[2016-07-09 19:51] amenk opened #223 "Add installer for 2.1.0"
Could the adding be done automatically?

[2016-07-09 21:01] ktomk commented on #223
Should only require the 2.1.0 package. Would you like to file a PR? Otherwise I could do.

[2016-07-09 21:10] amenk commented on #223
You can do it :-)

[2016-07-10 08:03] ktomk commented on #223
We believe that the issue reported is taken care of in the development version. It can be upgraded to it using the ` self-update` command with the `--unstable` switch.

[2016-07-10 08:03] #223 closed

[2016-07-11 09:23] tkn98 commented on #218
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the self-update command with the --unstable switch.

[2016-07-11 09:23] #218 closed

[2016-07-11 09:24] tkn98 commented on #211
Would you please be so kind and provide an example how to reproduce. It might seem redundant to you but it helps a lot in getting things fixed more quickly.

[2016-07-11 11:23] maderlock commented on #211
Sure!

To reproduce:
1. Using n98-magerun2.phar v.1.1.16
2. In Magento2 base folder with maintenance mode currently off (can visit site)
3. run n98-magerun2.phar sys:maintenance --off

Expected result:
To see a message "Maintenance mode off"

Actual result:
See message "Maintenance mode on"

And visa versa.

[2016-07-11 11:47] anlutro opened #224 "--root-dir no longer seems to work"
The following command works fine with the original magerun:

[code]

However, the exact same command fails with magerun2, with this exception message:

[code]

Versions:

[code]

[2016-07-11 15:25] tkn98 commented on #224
Please put the `--root-dir` switch at the beginning, before the command name (`sys:check`), as it is a global parameter:

    n98-magerun2.phar --root-dir=/path/to/magento sys:check

This should solve the Magento detection issue.

[2016-07-11 15:29] tkn98 commented on #211
Thanks, can confirm it's broken. Toggles instead of sets.

[2016-07-11 16:13] tkn98 commented on #211
Build: https://travis-ci.org/netz98/n98-magerun2/builds/143930833

[2016-07-11 16:13] tkn98 commented on #211
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-07-11 16:16] tkn98 commented on #211
Just seeing that maybe --on should be preferred over --off in case someone uses both options...

And thanks for your report.

[2016-07-12 08:45] anlutro commented on #224
That's pretty annoying. Symfony's console component allows arbitrarily placed command line options as far as I know, I thought you were using that? Furthermore, symfony console applications will usually warn you if you provide wrong arguments:

[code]

[2016-07-12 14:35] tkn98 commented on #224
I do see the issue that this is less stable.
Might be the version we use.
For the warning: As the option exists, it's not that warning.

For a better usability, this needs further review.

Another usability issue is that the =" is not POSIX conform, so

    n98-magerun2.phar --root-dir /path/to/magento sys:check

should work as well. Just noting, have not checked it so far.

[2016-07-15 06:48] ktomk commented on #224
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-07-15 06:53] ktomk commented on #224
Background: Symfony console is used to define the option and it's argument state, but at the stage we parse the argument, we used `getopt()` which stopped at the first operand argument which is the Symfony command (e.g. "`sys:check`"). I now switched to a new parser which does not stop scanning for the option on operands but at the end of options ("`--`").

[2016-07-15 22:41] ktomk commented on #224
We believe that next to "root-dir", the same fix for the other three
options "skip-root-check", "skip-config" and "skip-core-commands" are
fixed in the development version, too.

Thanks again for your report, I'll close the issue for now. Please
raise any concerns or feedback you have and/or if you need a tagged
release soon.

[2016-07-15 22:41] #224 closed

[2016-07-17 13:00] cmuench commented on #54
Command is now available in develop branch

[2016-07-17 13:20] ktomk commented on #54
Your develop branch was outdated. Please make this as a single commit or a PR.

[2016-07-17 23:12] #211 closed

[2016-07-18 05:39] #54 closed

[2016-07-18 07:12] tkn98 commented on #224
This has been shipped with Magerun2 1.1.17

[2016-07-18 08:40] tkn98 commented on #54
@cmuench: Thanks for porting, I just needed it :)

[2016-07-18 15:06] cmuench commented on #54
It was a pleasure to serve you.

[2016-07-19 15:22] aliuosio opened #225 "selfupdate command"
There is this funny behaviour where by when setting command -v it prints out version 1.20 but when using selfudate its shows updating to 1.17 and showing the change log for that version

[2016-07-20 06:12] ktomk commented on #225
Do you mean 1.2*.*0? If so, that is the next stable, currently unstable version.

Probably the numbers got mixed here.

[2016-07-20 06:21] ktomk commented on #225
Problem is, that we did build the wrong stable version.

@cmuench Can you remove 1.2.0 from the stable ones? Looks build as stable, but was not yet released.

Report:

[code]

[2016-07-21 11:18] tkn98 opened #226 "Add integration::flush command to cleanup integration temp folders for developer mode"
Resetting a sandbox can be helpful with integration testing.

Feature is to traverse all sandboxes and cleanup the `var` folder in there.

[2016-07-25 04:25] surjit opened #227 "getting this error, when trying to change password"
surjit@ubuntu:~/public_html$ php n98-magerun2.phar admin:user:change-password
Username:admin
Password:S123k456
SQLSTATE[HY000]: General error: 1205 Lock wait timeout exceeded; try restarting transaction, query was: INSERT INTO `admin_passwords` (`user_id`, `password_hash`, `expires`, `last_updated`) VALUES (?, ?, ?, ?)

[2016-07-25 04:32] jissereitsma commented on #227
I don't think this is related to `magerun2`. This error is a general error stating that your MySQL instance has performance issues.

[2016-07-25 05:57] #227 closed

[2016-07-25 07:41] tkn98 commented on #227
Correct, the timeout should not be relevant to Magerun 2. If you have high load on your database server, try the command when load normalizes. Also please check if there is a deadlock on that table.

[2016-07-27 06:42] ktomk opened #228 "Feature to downgrade all module/schema versions if needed"
When switching branches while developing Magento 2.0 / 2.1 it's burdensome if some extensions are upgraded higher than Magento thinks it's possible.

The needed _`setup:upgrade`_  command (and the whole Magento application) does not / refuses to work because it thinks there is an upgrade needed, but it's actually a downgrade.

Magerun2 should therefore:
- Get a command to downgrade versions that n

[2016-07-27 14:56] rafaelstz opened #229 "Add Magento 2.0.8"
Add Magento 2.0.8 into `magerun2 install` command.

**Releases**
https://github.com/magento/magento2/releases

[2016-07-29 13:13] tommypyatt opened #230 "Template hints toggling doesn't work"
Toggling template hints returns a success message but doesn't seem to be affecting the config option in the admin panel, nor the output on the frontend:

`$ n98-magerun2.phar dev:template-hints default`
`Template Hints enabled for store default`

Magento version: 2.1.0-rc3
OS: Mac

[2016-07-29 13:33] agoeurysky commented on #230
Yes...
https://github.com/netz98/n98-magerun2/issues/91#issuecomment-217834112

[2016-07-29 14:03] tommypyatt commented on #91
@agoeurysky: I think this changed from 2.0 -> 2.1. I have added a PR to #230 that prospectively fixes this.

[2016-07-29 14:21] tkn98 commented on #230
I can confirm it broken.

[2016-07-29 15:57] agoeurysky commented on #91
@tommypyatt,
no, I tested and posted the comment for Magento 2.0 :)
Thanks for your PR.

[2016-07-29 16:12] ktomk commented on #225
Looks like this still is an issue:

[code]

[2016-07-31 08:26] ktomk commented on #91
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-08-01 14:03] tkn98 commented on #230
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-08-01 14:03] #230 closed

[2016-08-01 14:04] tkn98 commented on #225
We believe that the bug reported is fixed. Version number of the stable build is correct again.

[2016-08-01 14:04] #225 closed

[2016-08-01 14:04] Valentyn-Kubrak opened #232 "Uncaught Error: Class 'Mage_Core_Model_Config_Options' not found"
Hi team. I found issue from new fresh installation of magerun:

[code]

Previous version: n98-magerun2-1.1.16  works fine.

[2016-08-01 14:54] tkn98 commented on #232
Can you please share the command typed in to provoke this error?

[2016-08-01 15:11] Valentyn-Kubrak commented on #232
@tkn98
I just executed n98-magerun2.phar in magento2 root folder
tested with php 5.6 and php 7

[2016-08-01 15:13] tkn98 commented on #232
I'm able to reproduce this as well now. You see this error after #207. It's a check if a local `/tmp/magento/var` folder exists which was discouraged in Magento 1.

I can't say if that is still the case for Magento 2 but nevertheless, the check we do needs to be ported.

Thanks for reporting this flaw.

[2016-08-01 15:28] tkn98 commented on #232
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-08-01 15:28] #232 closed

[2016-08-02 09:53] aliuosio opened #233 "dev:urn-catalog:generate when Magento Installation is in Subfolder"
my Source of Magento ist not in root folder but i can no more set the route to the .idea folder which is above my source folder

**n98-magerun2 >  dev:urn-catalog:generate**
automatically setting path to '/Users/krustymac/projects/sbshop/Source/../.idea/misc.xml'
  [ReflectionException]
  Property tokens does not exist

[2016-08-02 21:27] ktomk commented on #233
Interesting, somehow the **ArgvInput** class you have does not have the tokens property. Which Magento2 version do you use? I was able to reproduce this once and then not, so I could not fully debug the cause.

However, in the development version it is now checked for this error case and it should not happen any more.

It can be upgraded to it using the `self-update` command with the `--unstable`

[2016-08-02 23:10] #233 closed

[2016-08-08 10:00] hostep opened #234 "Installing magerun2 downgrades symfony/finder from v3.x to v2.x"
Hi

Just something I noticed, is probably not very important, but I think this change makes sense.

So, I just setup a new Magento 2 project (version 2.1.0) using composer, and one of the first dependencies I installed was magerun2, but when I did that, I saw this line in my console:
[code]

I thought this was a bit strange.

Anyway, I looked around in the composer.lock for all the dependency cons

[2016-08-08 10:32] tkn98 commented on #234
Let me guess, you installed Magerun 2 via composer, right?

For the double-pipes: fine.

For the caret instead tilde: I can say for here, we use an outdated Satis which not yet can handle the carets, so even I think your argument is generally correct, I can say that it's currently a burden on our end.

And then I remember some older ticket maybe even in Magerun 1 we should cross-link first because

[2016-08-08 10:39] hostep commented on #234
Ok, no problem for tilde, is not really necessary.

I can create a PR if you want, but it will probably have to wait until tonight. I don't have much time currently :)

[2016-08-08 12:30] tkn98 commented on #233
@aliuosio: Does the development version solves your problem? It would be great if you could report back.

[2016-08-08 12:35] tkn98 commented on #234
I just took some care now about this, also no time over here, so I pressed it into develop, if you can give it a try tonight that would be superb.

The reference I meant was https://github.com/netz98/n98-magerun/commit/584e6151ecc72b3ba2bd038b4f496d66898c7043 still no ticket. But this is from remembering, so looks safe.

Reference docs about [caret and tilde (composer versions)](https://getcompose

[2016-08-08 12:40] hostep commented on #234
Looks great (and will test tonight).

We didn't use composer for Magento 1, so I can't really comment on that.

[2016-08-08 18:30] hostep commented on #234
Hi, just tested with `composer require n98/magerun2:dev-develop` and it works. `symfony/finder` no longer gets downgraded and stays at 3.1.3 👍

Additional benefit, before you had to run: `composer require --no-update n98/magerun2 && composer update` otherwise composer threw errors about `symfony/finder` no being compatible. And now you can just run `composer require n98/magerun2`.
(I'm guessing co

[2016-08-08 18:30] #234 closed

[2016-08-08 21:16] aliuosio commented on #233
@tkn98: after the update to unstable it works giving the relative path to the ./idea/misc.xml filewhen using. before i could not specify the target file as explained before. Thumbs up... thx

[2016-08-09 05:56] ktomk commented on #233
Great, thanks for the feedback.

[2016-08-09 06:13] ktomk commented on #234
Great report and great feedback. I just updated the changelog. Good teamwork!

[2016-08-11 08:52] tkn98 commented on #229
Edit: And  2.0.9 ;)

[2016-08-18 12:28] timneutkens commented on #230
@tkn98 Confirmed it's fixed now in the unstable build. Experienced the exact same thing as @tommypyatt.

[2016-08-25 11:00] JBleijenberg opened #235 "Script repository is the same as Magerun 1"
Hi,

The script repository (/usr/local/share/n98-magerun/scripts or ~/.n98-magerun) is the same
as Magerun 1.
This is an issue when you have M1 and M2 installed on the same server, but want the scripts to be seperated (we don't use the same scripts for M1 and M2).

Can you change the script repository to make it unique for Magerun 2, or add a 3rd directory for Magerun 2.

[2016-08-26 10:10] ktomk commented on #235
I just pushed some related changes to the development branch. Can you please update to unstable and test if it works for you now?

[code]

[2016-08-26 13:26] JBleijenberg commented on #235
@ktomk unfortunately it still searches in the magerun directories (instead of e.g magerun2):
[code]
Atleast, that's what ```---help``` tells me.
I'd love to see magerun2 look for scripts in ```/usr/local/share/n98-magerun2/scripts``` and ```<HOME>/.n98-magerun2/scripts```, to keep things seperated.

[2016-08-26 13:32] JBleijenberg commented on #235
Better yet, when the scripts directory is not present, the following error occurs when calling ```n98-magerun2 script:repo:list```:
[code]

[2016-08-26 14:32] ktomk commented on #235
I've not yet updated the help, but good point. Touched it and also checked for the exception case. Please update and try against unstable again.

[2016-08-28 21:25] ktomk commented on #235
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-09-12 08:48] tkn98 opened #238 "Travis build.sh task hangs"
In Magerun2 for some time if a PR, the following command hangs on Travis:

    git log --oneline -1

[2016-09-12 08:49] tkn98 commented on #238
I suspect this issue was fixed in 84a73b18342cb888ab4b887fd2a728c31da112ca.

Fix is to disable the pager:

    git --no-pager log --oneline -1

[2016-09-12 08:49] #238 closed

[2016-09-12 10:06] tkn98 commented on #235
@JBleijenberg: Can you provide feedback if this worked well for you? Would be good to know before pushing the next stable release.

[2016-09-12 13:15] JBleijenberg commented on #235
@tkn98 it partially works.
It now finds my scripts in `~/.n98-magerun2/scripts`. However, it doesn't find them when i place my scripts in `/usr/local/share/n98-magerun2/scripts`

[2016-09-12 14:13] tkn98 commented on #235
@JBleijenberg: I'll review this. And no more mix-ups for `/usr/local/share/n98-magerun*`, e.g. still showing Magerun 1 scripts in Magerun 2 for that `/usr/local` folder?

[2016-09-12 14:30] JBleijenberg commented on #235
@tkn98 yeah, when i place my scripts in the `/usr/local/share/n98-magerun/` directory, magerun2 still picks them up

[2016-09-12 17:42] ktomk commented on #235
@JBleijenberg: Thanks for the clarification. A change in the configuration file was still missing. That local folder was hard-encoded.

We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

Please give it a try it should now work as expected for you.

[2016-09-12 17:42] #235 closed

[2016-09-14 20:39] JamesonNetworks opened #239 "sales_order_status is stripped out of database when using @development group breaking orders on Magento 2"
When we create database dumps using the following command:

n98-magerun2 db:dump --strip="@development"

the sales_order_status* tables are being dropped. This breaks Magento 2 ordering, which relies on those status tables.

[2016-09-15 06:36] tkn98 commented on #239
aren't these part with create commands in the dump file?

[2016-09-15 11:17] SchumacherFM commented on #208
Any updates here?

[2016-09-15 11:21] SchumacherFM opened #240 "Config:set does not respect the backend model of a config path"
[code]

Config in adminhtml/system.xml

[code]

Config in etc/config.xml

[code]

As I have seen in the code, the config:set command uses just the raw database connection to write anything unchanged into the database. It needs to somehow respect the backend model.

[2016-09-15 11:25] SchumacherFM commented on #240
I should use `--encrypt` ;-)

[2016-09-15 11:25] #240 closed

[2016-09-15 17:00] ktomk commented on #208
Not yet, but I think there might be some use to invert the flag. Using the string "`NULL`" (all caps) should be treated as NULL value unless ` --no-null` (or similar) is used. That would allow to set an entry to NULL while passing data from a textfile into the command (e.g. hsccd or other scripts).

[2016-10-05 15:20] hostep opened #241 "sys:check throws fatal error in production mode"
Hi

I just noticed when trying to run `sys:check` on a production server that we get this fatal error:

[code]

This doesn't happen on a development machine, and my guess is that this is most likely because we don't run `setup:di:compile` locally.
I could reproduce the problem on 3 different completely different production machines, so it isn't depending on a certain environment.

Using magerun2 v

[2016-10-05 15:33] tkn98 commented on #241
Thanks for the report and indeed interesting.

From top of my head this should not be handled via ctor but the inject method we have for those dependencies. But that's just quick.

[2016-10-05 15:34] tkn98 commented on #241
Can reproduce on a production system.

[2016-10-06 14:17] SchumacherFM opened #242 "./bin/n98-magerun2 admin:user:change-password: Lock wait timeout exceeded"
[code]
n98-magerun2 version 1.3.0 by netz98 GmbH => Real version from composer.json is: `"n98/magerun2": "dev-develop", => 9affa3221415da8033267010d0ec4e14dab51e2b`

Magento 2.1.1 with PHP 7.0.11

If you need more informations, let me know.

Any idea what this can be?

[2016-10-07 06:41] ktomk commented on #242
Mysql Table lock. Have you repeated it and turned it out to be working then?

[2016-10-07 06:45] SchumacherFM commented on #242
It never works. Doesn't matter how many times I execute it.

[2016-10-07 06:59] ktomk commented on #242
Sounds like the command is locking it's own table. I never used it in MR2 so far IIRC, the create admin user should work, I constantly make use of it. Requires further inspection, this sounds like a real flaw we have there.

[2016-10-07 07:25] SchumacherFM commented on #242
For now I delete the admin user and re-create the admin ... but that is only OK on dev/staging systems.

[2016-10-07 10:08] ktomk commented on #242
Can reproduce, have found a fix. Will push a fix-branch soon.

[2016-10-07 12:01] ktomk commented on #242
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-10-07 12:01] #242 closed

[2016-10-07 12:17] SchumacherFM commented on #242
Thanks you!

[2016-10-17 14:04] valguss commented on #239
Just had this on our site as well.
Step to reproduce:
1: dump out the database without any sales etc
[code]
2: Now import the database and you'll see that the sales_order_status* tables are now empty. Magento now has no record of any statuses that it can use in the system.

Here's the affected lines from n98-magerun2/config.yaml:
[code]

The only table from sales_order_status* that should be clean

[2016-10-17 15:37] ktomk commented on #239
Then the culprit is `sales_order*`. For review could you provide a listing of all tables matching in that pattern, e.g. `SHOW TABLES LIKE 'sales_order%';`? Just asking for better review.

For example on my end:

[code]

[2016-10-17 15:40] valguss commented on #239
Here we go:

[code]

Looks like we match.

[2016-10-17 15:56] ktomk commented on #239
So when I get it right we can empty everything from that list *but* `sales_order_status` as this is a reference table for statuses like *canceled* or *complete*.

[2016-10-17 16:01] valguss commented on #239
I think you should also not be emptying:
[code]

These contain frontend labels for the order statuses and the actual internal order state associated with each order status.

[code]
this appears to contain comments on the order and order status updates for the order, so appears safe to truncate.

[2016-10-19 16:26] ktomk commented on #239
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-10-19 16:26] #239 closed

[2016-10-24 10:20] valguss commented on #239
Sorry for being awhile. That appears to be working fine for me. Thanks

[2016-10-24 11:16] tkn98 commented on #239
No problem and thanks again.

[2016-10-25 11:05] atishgoswami opened #244 "Cron Job List command sys:cron:list does not merges system config path values"
Hello Team,

The `sys:cron:list` command does not consider the path values saved in the `core_config_data` table.

Faced this [issue](https://github.com/netz98/n98-magerun/issues/727) in [n98-magerun](https://github.com/netz98/n98-magerun) version 1 as well.

Thanks

[2016-10-25 12:16] tkn98 commented on #244
Okay, I think we need to port the fix over to Magerun 2. I remember, yes. thanks for the report.

[2016-11-01 13:31] kandrejevs opened #245 "Sending email with cronjob throws exception"
I'm trying to send email with cronjob to list from adminhtml area, throws error:

Required parameter 'theme_dir' was not passed

email sending works with magento cron:run command.

[2016-11-02 07:14] kandrejevs commented on #245
Let me know if you need any additional info

[2016-11-02 07:59] tkn98 commented on #245
I suspect this is b/c of incomplete initialization of the entry-point (here for cron).

Can you share the exact version of Magento you're using?

[2016-11-02 11:14] kandrejevs commented on #245
enterprise edition 2.1.2

[2016-11-10 13:47] rikwillems opened #247 "db:dump sales strip too aggressive"
The @sales strip for db:dump is too agressive. It also filters status and state tables. These should not be excluded as the contain valuable store setup data.

- sales_order_status
- sales_order_status_label
- sales_order_status_state

[2016-11-10 14:29] tkn98 commented on #247
Reminds me a recent issue. Can you check if this is still an issue with the development version?

[2016-11-10 14:30] tkn98 commented on #247
@rikwillems: Mentioned issue I remembered is here: https://github.com/netz98/n98-magerun2/issues/239

[2016-11-10 14:56] rikwillems commented on #247
To be honest I only know how to work with the .phar. Can I create a .phar from the develop branch?

[2016-11-11 05:41] cmuench commented on #247
You can run `n98-magerun2. phar self-update - - unstable`.
We also provide a dev phar at https://files.magerun.net

[2016-11-11 06:34] cmuench commented on #245
@kandrejevs Is this a standard cron job? If yes, can you provide me the name of the cronjob?

[2016-11-11 13:24] kandrejevs commented on #245
it is custom job

[code]

[2016-11-11 16:21] rikwillems commented on #247
Thank you @cmuench and @tkn98 the development version makes the order status tables come along with the dump.

[2016-11-11 16:21] #247 closed

[2016-11-15 23:22] mwgamble opened #248 "Documentation for db:dump command is missing from the readme"
If there's nothing significantly different between the Mage1 and Mage2 versions of this command, I can look into porting the documentation from the Mage1 version and submit a PR for it. Let me know!

[2016-11-15 23:35] ktomk commented on #248
Sure, patches are always welcome. You can cross-check with `--help` as the built-in help is normally most up-to-date. A PR has the additional benefit that it gets some review, too. So just do as you see fit, if you have more questions don't hesitate to ask.

BTW check against the development branch README.md, master tends to be behind and IIRC on Github it shows master first. PR also against devel

[2016-11-22 18:13] hostep opened #249 "Add support for more area types in the dev:module:observer:list command"
Hi

Today, I was surprised to find that to observe certain events in Magento2, you need to observe them from within the `webapi_rest` area. See this ticket I created and then closed after finding the solution: https://github.com/magento/magento2/issues/7524

It would be great if magerun2 could support that extra area in the `dev:module:observer:list` command.

I found even a bunch more area's whic

[2016-11-22 18:37] ktomk commented on #249
Okay, I can tell you by my colleagues feedback that you're not the only one who is surprised about that. ;)

Therefore I strongly feel that the suggestion you give is much valuable. We should cover all these standard (read: defined by these class AREA_* constants) areas.

The place you link with the constants should be authoritative and we should take the strings over. An integration test could ch

[2016-11-22 18:50] hostep commented on #249
Ok, good to hear that there is a need for this :)

I can create a PR, including the test (which I have very little experience with, but it is always fun to learn new stuff). But it will probably take me a couple of days until I find some decent time to work on this unfortunately...

[2016-11-23 01:26] ktomk commented on #249
You can do the PR an do with the test as you see fit (read: you can skip it for a moment if you feel uncertain or just comment if you're not confident with it). Most important is to add the missing areas for the moment (I think these are across all Magento 2.x versions so far).

[2016-11-23 19:59] hostep commented on #249
There you go, I skipped the test because I couldn't find an example in the existing tests using Reflection, so I wouldn't know where to start :)

[2016-11-23 21:14] ktomk commented on #249
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-11-23 21:14] #249 closed

[2016-11-24 13:59] EliasKotlyar opened #251 "n98-magerun2.phar admin:user:change-password throws an error"
Hello n98-magerun2-Team,

We have found a bug with the latest enterprise-edition:
[code]

Our System:
[code]
Note: Its vanilla Magento, no customisations were made

Greetings,
Elias

[2016-11-24 16:13] tkn98 commented on #251
Please run `generation:flush` and try again. If it still crashes, check if you can try as well with the development version. So far I can not reproduce this issue but I remember having see such an error.

[2016-11-30 11:53] ktomk opened #253 "Fatal error when running Magerun 2 inside a Magento 1 tree"
When executing Magerun 2 inside a Magento 1 project, it crashes with a fatal error:

	$n98-magerun2.phar --version
	PHP Warning:  require_once(www/app/bootstrap.php): failed to open
	stream: No such file or directory in
	phar:///home/memyselfandi/bin/n98-magerun2.phar/src/N98/Magento/Application.php on line 745

	Warning: require_once(www/app/bootstrap.php): failed to open stream: No
	such file or

[2016-12-01 10:20] ktomk commented on #253
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-12-01 10:20] #253 closed

[2016-12-03 18:12] ktomk commented on #29
We believe that the port requested is now in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-12-03 18:12] #29 closed

[2016-12-04 10:24] ktomk opened #256 "PHP 7.1 support"
Since 1 Dec 2016 PHP 7.1 stable has hit earth surface. Support for that version of the language is most likely to be requested therefore Magerun 2 should support it.

- [x] Lint Magerun 2 code with PHP 7.1
- [x] Run PHP-CS-Fixer with PHP 7.1 on Magerun 2 code
- [x] Build Magerun 2 with PHP 7.1
- [x] Run the Phpunit test-suite (w/o Magento 2 installation) with PHP 7.1
- [x] Install Magento 2 runnin

[2016-12-06 08:47] tkn98 commented on #256
Another build task could be to run the Phpunit test-suite w/o installing Magento (would be unit-tests only, integration tests are skipped when no Magento application is found).

[2016-12-06 15:02] samgranger commented on #251
I am also experiencing this exact same issue but also with cronjobs. Running generation:flush does not seem to help.

This doesn't occur with every cronjob or command. I made a cron a while back without any issues and it still runs without any issues. I created a new blank cron which is failing however, which I stripped back entirely to only echo a string in the execute function. Sys information i

[2016-12-06 15:16] ktomk commented on #251
@samgranger: Can you compile DI (for production) and check if there are some errors reported? I don't know if Magento 2 is able to statically detect circrefs, but compilation does some checks which might point you in the right direction.

[2016-12-08 16:35] fliphess opened #258 "n98-magerun2 db:dump --stdout appears to be broken."
When i use `n98-magerun2 db:dump` with the feature flag `--stdout` enabled, no output is returned to stdout.

[code]

[2016-12-09 18:29] ktomk commented on #258
It is buggy at least. Can reproduce, creates a file named "`.sql`" in the current working dir. Most likely the command needs to be updated with the changes from Magerun 1, I smell some there fixed bugs.

[2016-12-19 10:13] bery opened #259 "db:dump command does not work with socket connection"
Hi,

db:dump command fails if the connection to the database is configured using a socket rather than IP address. Sample output:

[code]

Would it be possible to make the db:dump command compatible with database connection made using sockets?

[2016-12-19 10:35] tkn98 commented on #259
Sockets should be supported. Can you share the magerun version you're using?

[2016-12-19 15:29] bery commented on #259
magerun2 --version says

n98-magerun2 version 1.2.2 by netz98 new media GmbH

Do you mean that sockets should work already?

[2016-12-19 21:30] ktomk commented on #259
Please upgrade to version 1.3.0 and try. I know that it should work. If it doesn't work in the latest stable we should fix it. The config/db routines do support sockets so this looks like a flaw to me. But please check against the latest version first.

[2016-12-22 21:36] bery commented on #259
Will do and will let you know, thanks for your quick reply!

[2016-12-22 22:58] ktomk commented on #259
Please provide an excerpt of your `app/etc/env.php` which shows the database configuration (please mask any secure credentials).

[2016-12-23 01:05] jurgisl opened #261 "Module code generation Setup template wrong"
Setup template for UpdateData script is wrong. Class is named UpdateSchema not UpdateData, and there is not defined namespace for ModuleDataSetupInterface.

https://github.com/netz98/n98-magerun2/blob/master/res/twig/dev/module/create/app/code/module/Setup/UpgradeData.php.twig

[2016-12-23 08:42] tkn98 commented on #261
Thanks for the report and PR!

We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2016-12-23 08:42] #261 closed

[2016-12-28 18:02] viktorsteinwand opened #263 "cache:flush command do not dispatch the `adminhtml_cache_flush_all` event"
If performing the `cache:flush` command, the expectation is, that the event like `adminhtml_cache_flush_all` or something similar will be dispatched. See https://github.com/netz98/n98-magerun2/blob/master/src/N98/Magento/Command/Cache/FlushCommand.php#L23

Please observe also the original Magento 2 cache flush command source: https://github.com/magento/magento2/blob/develop/app/code/Magento/Backen

[2017-01-02 08:44] viktorsteinwand commented on #263
Thanks Tom Klingenberg!

[2017-01-02 09:37] tkn98 commented on #263
Thank you for the report! Let us know in case this does not work as intended:

We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2017-01-02 09:37] #263 closed

[2017-01-02 16:44] bery commented on #259
I have tried to update magerun to the latest version as suggested (1.3.0) and the erorr stil persist.

env.php, when using google cloud DB service:
[code]

[2017-01-02 18:16] ktomk commented on #259
By providing the full information, it's now visible what the issue is. You're using the wrong setting to specify the socket. The correct name is "`unix_socket`", you're using "`host`".

If you replace it, this should work already. Leave *host* out or empty (zero-length string), set *unix_socket*.

Please let me know if this solves your issue.

[2017-01-03 14:20] bery commented on #259
Worked as a charm, perfect, thanks. For the future reference, should somebody come across the same issue:
[code]

Host is a required value and needs to be set to an empty string as suggested.

[2017-01-03 14:20] #259 closed

[2017-01-16 09:22] iancassidyweb opened #265 "cache:flush does not send purge command to Varnish"
**Issue**
When running the n98 cache:flush command Varnish is not purged. However, When flushing the
cache via Magento's bin/magento cache:flush Varnish is purged correctly.

See the following file for reference.

`module-cache-invalidate/Observer/FlushAllCacheObserver.php`

**Steps to Replicate**
1. Install Magento CE or EE (tested on CE 2.1.3)
2. [Add Varnish HTTP Cache Hosts to your env.php fil

[2017-01-19 17:01] diazwatson commented on #251
It just happened to me and I fixed it by doing `bin/magento setup:di:compile`
Make sure /var/ has the right permissions

[2017-01-23 09:22] tkn98 commented on #265
Can you please check with the development version? We recently have fixed #263 which seems to be related as now an event is triggered which previously was not.

[2017-01-24 08:17] ktomk commented on #241
Sorry for the slow progress on this issue. I must admit we missed so far to run the test-suite against `production` mode, it was yet only running against the `default`.

It took some time to finally realize the culprit, add a change to testing and then fix the `sys:check`-sub-command creation to deal with production mode. That means, we have a fix!

Next to that some other commands which are inten

[2017-01-24 08:19] ktomk commented on #241
I brought the fix into develop, please try with the unstable version, you should see this fixed.

[2017-01-24 13:57] SchumacherFM commented on #208
I would have needed that today ... ;-)

[2017-01-24 18:32] hostep commented on #241
Just checked, can confirm this is now fixed with the latest develop version.

Thanks again Tom!

[2017-01-24 18:32] #241 closed

[2017-01-25 01:22] ktomk commented on #208
But you can only have it tomorrow ... ;-). It's not the prettiest code and quite quickly written as in the end the output formats needed to be dealt with (`config:get`). I therefore covered it with tests for the scenarios which came to my mind.

You can use `--no-null` with `config:set` for the old behaviour if you need to have NULL as string. I think this is unlikely, but it is supported.

---

W

[2017-01-25 01:23] #208 closed

[2017-01-25 01:33] ktomk commented on #245
If you still can easily provoke the error, can you please provide the command (and all output) executed with `-vvv` switch which should give a backtrace (hopefull). Please mask (or cut away) any personal data in the output if applicable.

[2017-01-25 09:26] SchumacherFM commented on #208
You're awesome! Thank you very much!

[2017-01-26 10:16] kandrejevs commented on #245
`Load dist config
Search for Magento in folder pub
Search for Magento in folder /private/var/www/jlr3
Found Magento  v2  in folder /private/var/www/jlr3
Load dist config
Add core command  help -> Symfony\Component\Console\Command\HelpCommand
Add core command  list -> Symfony\Component\Console\Command\ListCommand
Add core command  admin:user:create -> Magento\Setup\Console\Command\AdminUserCreateCo

[2017-02-05 21:48] DavidLambauer opened #267 "Install Command fails with "[RuntimeException] Installation failed.""
When I run n98-magerun2.phar install and follow the Guide, I end with the following Exception:

`[RuntimeException]   Installation failed.`

Environment is the following:
PHP: 7.0.13
Magerun: 1.3.1

This is a Screenshot, where you should able to reproduce.

<img width="1905" alt="screenshot at feb 05 22-42-45" src="https://cloud.githubusercontent.com/assets/1841317/22630145/7ad640d2-ebf4-11e6-98a6

[2017-02-06 07:48] tkn98 commented on #267
Hi David, please run the command verbatim (you can see it in the middle) and try to find out what went wrong. Magerun runs it and if it fails you see this exception.

[2017-02-06 08:51] DavidLambauer commented on #267
Hey Tommy,

thanks for the quick answer. Now I am able to see an Exception.

`/usr/bin/env php /Volumes/Data/Entwicklung/Workspace/netz98/Shops/DemoShop/bin/magento setup:install --language='de_DE' --timezone='Europe/Berlin' --db-host='127.0.0.1:32768' --db-name='demoshopintergration' --db-user='root' --base-url='http://demoshop.dev/' --use-rewrites='1' --use-secure='0' --use-secure-admin='1' --ad

[2017-02-06 09:19] tkn98 commented on #267
The error output should be visible with Magerun, too. I tag this a a bug.

[2017-02-06 13:07] DavidLambauer commented on #267
I found the reason for my problem. /usr/bin/env php doesn't use my aliased php version and due to that, some extensions like php intl are missing. For usability reasons, this should be checked, before running a command. What do you think?

[2017-02-06 13:14] tkn98 commented on #267
David, please upgrade to the latest unstable version. Magerun should use for the installer the same PHP binary that is used for Magerun itself.

[2017-02-06 13:16] tkn98 commented on #267
From a quick check, I'd say this needs forward porting from Magerun 1. We have these issues incl. the better display of errors and the correct PHP binary fixed.

[2017-02-07 16:28] cmuench commented on #122
Update scripts are gone.

[2017-02-07 16:28] #122 closed

[2017-02-08 13:46] guillaume-netapsys opened #268 "Array to string conversion exception with db:info command"
Hello,

I'm currently trying to execute this command with my project :

`n98-magerun2 --skip-root-check --ansi db:info --format json`

But it returns the following error :

`[Exception] 12:15:09   Notice: Array to string conversion in xxx/n98-magerun2/src/N98/Magento/Command/Database/InfoCommand.php on line 48`

It appears to be a problem with Magento2 `app/etc/env.php` file.

I need to use the fo

[2017-02-08 14:55] tkn98 commented on #268
Can you also please try with the development (unstable) version? This report rings a bell and it might be this is fixed already.

[2017-02-10 09:15] guillaume-netapsys commented on #268
Hello,

I've tried to switch to development version and it's working in those conditions.
Can you tell me when this feature/fix will be included in the stable version ?

Thank you.

[2017-02-11 11:04] ktomk commented on #198
@hostep  I'll change this again, back to "~2.3" as it's done in magento/magento2 and magento/composer by removing "<2.1", see https://github.com/magento/magento2/pull/8151/commits/c6ef98fccd64be22d03941f2ea3a5138333be931 .

Nicolas Grekas bumped the upstream issue ca. a month ago and some days ago the changes were merged in Magento2 master as well as for the Magento Composer package.

I'm aware th

[2017-02-11 11:06] ktomk commented on #198
We could add a build in Travis that checks if installing from composer with n98-magerun2 is possible, so we can track the status. I've not done this, just an idea that comes to mind this moment.

[2017-02-11 12:23] hostep commented on #198
Hi Tom

I think you are making the correct decision by following the requirements exactly as defined in Magento2.

And I don't think this will cause any issues.
- If you install Magento 2.0.x or 2.1.x in combination with Magerun2 with composer, it should install symfony/console 2.6.x
- if you install Magento 2.2 (currently develop branch) in combination with Magerun2, you'll get symfony/console 2.

[2017-02-11 12:29] hostep commented on #198
Update, if you want to have the exact same requirements as Magento2, you should set the dependency as follows: `~2.3, !=2.7.0`. See: https://github.com/magento/magento2/blob/988f3a37bc17b458c98bfa0a1dc0238805f98380/composer.json#L47

Apparently there was something wrong with 2.7.0 which is explained over here: https://github.com/magento/magento2/pull/8151/commits/c6ef98fccd64be22d03941f2ea3a513833

[2017-02-11 12:36] ktomk commented on #198
@hostep: Thanks for the quick feedback. I've seen that `!=2.7.0` but couldn't locate it. I think we can leave it out as composer will prefer a later version anyway (yolo).

I also think that keeping up with the upstream changes is fine, however, with older versions you will run into trouble. If it's fine for you, I'll do a stable release today with the changes in. For us it's related to some janit

[2017-02-11 12:42] ktomk commented on #268
@guillaume-netapsys: I plan to make a release today.

[2017-02-11 13:47] hostep opened #270 "Add Magento version 2.0.12 and 2.1.4"
Since you are planning on releasing a new version today, it might be worth to add the latest versions of Magento which got released this week.

[2017-02-11 14:32] ktomk commented on #270
Jup, let's flush them in. I'll do this.

[2017-02-11 14:58] ktomk commented on #208
@SchumacherFM: For those versions of Magento 1 which do support NULL in config table values, this feature has been backported to Magerun 1 (https://github.com/netz98/n98-magerun/commit/cb1bd42c2dd176c32492833b8357ee593e614e21). Just FYI.

[2017-02-11 16:35] ktomk commented on #268
Fix for issue is in ea2ce39b02adc7ed2e661e553988d0d7d667a7b9.

[2017-02-11 16:35] #268 closed

[2017-02-11 16:36] ktomk commented on #270
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2017-02-11 16:36] #270 closed

[2017-02-11 23:16] #267 closed

[2017-02-12 11:48] ktomk commented on #228
The `sys:setup:downgrade-versions` command is available since 1.2.0 / 36cb3d9581f4d6bb39cb33ea3bc1a4b8636c5ba0.

[2017-02-12 11:48] #228 closed

[2017-02-12 11:59] ktomk commented on #229
2.0.11+ should work as expected, found a flaw with 2.0.8 - 2.0.10.

We believe that the issue reported is taken care of in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2017-02-12 11:59] #229 closed

[2017-02-12 12:04] ktomk commented on #248
@mwgamble: You still have interest to do this?

[2017-02-12 19:55] hostep opened #271 "Magerun2 is no longer installable using composer in a Magento project due to composer/composer ^1.3.0 constraint"
Hi

I'm back with yet another new issue when trying to install magerun2 using composer 😉

I have a Magento 2.1.4 project where magerun2 version 1.3.0 is installed, but upgrading to 1.3.1 is not working:
[code]

In version 1.3.0 of magerun2, the constraint of the `composer/composer` package was set to `^1.0.0`, but in version 1.3.1 this was increased to `^1.3.0`: https://github.com/netz98/n98-mager

[2017-02-12 21:02] ktomk commented on #271
Reason is I wanted to have the current stable composer version as I've integrated it into the build, so the build has all commands after composer install - incl. composer. I know it's kind of a hen and egg problem.

If I read your report right, it's that for 13.1 you need to change the composer.json in the Magento project so that composer installs the magerun dependency. But you also needed to mod

[2017-02-13 07:21] ktomk commented on #271
@hostep: To solve both problems, we could create specially tagged versions in git that contain a compatible composer.json. You then could require that version I guess with `-dev` suffix.

For the console problem, I have seen this coming the other day, we could also solve that with it if it works out.

I've created a new tag called `depdev-1.3.2`, let me know if you can require that version with co

[2017-02-13 08:12] hostep commented on #271
Thanks Tom

I'll try to check this out later today. Bit swamped at the moment :)

The alias would never have worked anyways, since the composer resolver would have seen it as `1.0.0-beta` instead of `1.3.2`, I don't know what I was thinking yesterday, sorry if this caused any confusion.

[2017-02-13 08:47] tkn98 commented on #271
No not all, it's good to get a quick report. You have a thinking person at the other end as well ;). Would be great this tagging works (I might be able to test this locally over the day, too) and we can eradicate the workaround anyway.

[2017-02-13 19:38] hostep commented on #271
Hi Tom

Can confirm that downgrading the `composer/composer` constraint to `^1.0.0` makes it work again.
But unfortunately your tag name is not supported by composer:
[code]

So I had to get a bit more creative and cloned the magerun2 repo, then used the [Path repo type](https://getcomposer.org/doc/05-repositories.md#path) of composer to be able to use my clone of this project.
I then tagged your

[2017-02-13 20:35] ktomk commented on #271
@hostep: I have done some tests on my end as well. I don't have  followed your scenario exactly yet, just ran some tries before that and now I managed this similar to yours as I quickly read it. I have done the create-project step at first and then I do the following:

    $ composer require n98/magerun2:dev-magento2-composer/1.3.2

This worked on my end. It does not work with tags as you have fou

[2017-02-13 21:35] hostep commented on #271
Alrighty, yes this works indeed. So we have now confirmed that changing the constraint back to `^1.0.0` solves the issue of not being able to install the latest version of magerun2 using composer.

In your opinion, is there a downside to changing this constraint back? Because you were talking about maintaining two different versions of this package, one for installations using composer, and the ot

[2017-02-13 22:01] ktomk commented on #271
Oh actually not at all! The error is on my side, I've misunderstood the caret notation `^1.0.0`  will semver just up to but not `2.0.0`. So technically in the `composer.lock` file this means having the latest version. So actually a simple "my fault" here - I'm actually sorry for the interruption.

So I must admin, now I see a point in this any longer. A lesson learned. You can find the `1.3.2` ver

[2017-02-13 22:05] #271 closed

[2017-02-13 22:12] hostep commented on #271
Awesome, thanks once again! No problem for the hurdles, I made it too difficult myself with my initial post which contained a lot of incorrect information.

Can confirm I can now again upgrade to a stable magerun2 1.3.2 version, so that makes me happy :)

[2017-02-13 22:31] ktomk commented on #271
Well I also had in mind wrongly that ^1.0.0 would require patching the composer.json with an inline alias which isn't the case either. And great to see we're working for happiness in the end :).

[2017-02-16 06:49] ktomk commented on #258
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2017-02-16 06:49] #258 closed

[2017-02-16 06:53] ktomk commented on #258
This took a bit longer as the db:dump command needed some maintenance work under the hood. It should now work as expected again.

There might be an issue with mysql database on commandline warnings, so please check if this works well for your case. If you run into any problems, please report back.

[2017-02-16 09:36] tkn98 opened #272 "Phpunit autoloading on Travis conflicts with Magento 2 while integration testing"
(via: ##266) We need to fix the travis build and/or need to align the PhpUnit version. Due to Magento2 dev requirements (which we hopefully don't need but just install) there is a conflict with autoloading in Magento 2 and Magerun 2 for Phpunit.

* https://travis-ci.org/netz98/n98-magerun2/jobs/202162135
* Let's just cross fingers for a momemt that issues like https://github.com/magento/magento2/i

[2017-02-17 05:52] ktomk commented on #245
hi, I added some changes to the development version. if you update to it you can try again.

[2017-02-26 15:27] arkadij-K commented on #251
We have exact this issue on Magento 2.1.3.
``bin/magento setup:di:compile`` doesn't help nor ``bin/magento generation:flush``.
We did also ``rm -rf var/generation/ var/cache/ var/page_cache/ var/di/`` but no effect.

[2017-02-26 17:10] ktomk commented on #251
@arkadij-K In which mode do you have the store running, default, developer or production?

[2017-02-27 07:11] arkadij-K commented on #251
@ktomk It was in 'default' mode.

[2017-02-28 20:20] ktomk commented on #272
Fixed in https://github.com/netz98/n98-magerun2/commit/9534d3f0524088ad5120f39657513a06f7ba31cc

[2017-02-28 20:20] #272 closed

[2017-02-28 21:00] ktomk commented on #251
I just tested it against the current stable and development version of magerun2 and a clean install of CE 2.1.3 in default mode and can not reproduce. So this probably is on enterprise only.

[2017-03-02 08:42] tkn98 commented on #39
We believe the command has been ported and is now part of the development version.

[2017-03-02 08:42] #39 closed

[2017-03-18 11:48] akira28 commented on #245
I get the same error "Required parameter 'theme_dir' was not passed" on the latest 1.3.3 version.
Do you have any workaround?

[2017-03-23 15:59] mpchadwick opened #279 "Include guidance on checksuming the .phar"
The README for n98-magerun includes guidance on checking checksuming the PHAR file, however the same guidance is not available, AFAICT in the README for this repo.

[2017-03-24 00:01] erikhansen commented on #201
I just experienced this on a Magento 2.1.5 site with the Xtento_ProductExport and Xtento_XtCore modules installed. Any idea when this fix will make it into the next release?

[2017-03-24 00:06] erikhansen commented on #201
Never mind. I downloaded the latest release of Magerun2 and I'm still getting the error, even after disabling the Xtento extensions, so it looks like my error is related to some other extension installed on my site:

[code]

I'll open a new issue if I find a consistent way to reproduce the issue.

[2017-03-25 17:44] ktomk commented on #279
@mpchadwick: Yes, there is an issue with the default branch on Github. We should change it to the development branch then the latest information is available and it's easier to contribute.

@cmuench: Can you change the default branch to "develop" and place a link to the Magerun Homepage in the project description (compage to Magerun 1)?

[2017-03-31 09:58] EliasKotlyar commented on #251
Hello,

I have found this Error again on M2 EE 2.1.3:
`
+------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------+
| name             | value

[2017-03-31 10:50] tkn98 commented on #251
@EliasKotlyar Thanks for the update, Is that this file/line:

https://github.com/magento/magento2/blob/2.1.3/app/code/Magento/Backend/etc/di.xml#L74

[code]

And have you had any chance to test this against EE 2.1.5?

[2017-03-31 12:20] EliasKotlyar commented on #251
Hello tkn98,

Yes, its this line which i have uncommented.  Unfortunately , we are still on 2.1.3 and will not update to prior to 2.2

Greetings
Elias

[2017-04-14 06:17] tig-michielgerritsen opened #281 "db:dump is ignoring the --add-time flag"
When i execute this command there is a filename generated without time, eg ``backup.tar.gz``.

[code]
I tried with different options, but the timestamp is never added.

[2017-04-17 12:59] cmuench commented on #279
The default branch is now set to "develop".

[2017-04-20 08:52] lewisvoncken commented on #281
@tig-michielgerritsen and @cmuench

I was experiencing the same issue but I just took a look at the code and the descriptions is just incorrect because you have to pass a value as followed:\

`Invalid --add-time value %s, possible values are none (for) "suffix", "prefix" or "no"`

So the functionality works but isn't explained properly

[2017-04-20 09:37] cmuench commented on #281
@lewisvoncken Thank you for the investigation.

[2017-04-20 11:13] FluroShift opened #284 "Install problems"
Hello!
I'm trying to install Magento 2 through magerun2 on a server with a SSh connection. I've tried a few different approaches for installing magento, but I keep getting the same error over and over again. I've included a picture of the error.
![knipsel](https://cloud.githubusercontent.com/assets/15103015/25228035/1323f702-25cb-11e7-9f37-857cc5bd5893.PNG)

[2017-04-20 11:14] FluroShift commented on #284
The command i entered is: php -f bin/n98-magerun2 -- install

[2017-04-20 12:41] cmuench commented on #284
This looks like a local permission problem to me. Can you check the folder permissions?

[2017-04-25 18:00] cmuench commented on #281
A better description will be available in develop version the next minutes.

[2017-05-15 18:24] wrsenn opened #285 "Running an n98 script ignores --skip-root-check"
If running an n98 script file (i.e. `n98-magerun2 script <filename>`) as root with `--skip-root-check`, the root warning still fires for each individual command within the script file.

[2017-05-17 09:10] jay-metmeer opened #286 "n98-magerun2 not working within a project in PHP Storm."
Hi,
I'm currently working on a few different projects, but n98-magerun2 won't excute within a certain project in PHPStorm IDE after running  n98-magerun2 setup:upgrade at initial setup of project.

[2017-05-20 07:59] shochdoerfer opened #287 "Add n98-magerun2 to PHIVE"
I'd love to be able to install n98-magerun2 via [PHIVE](https://phar.io), at a later stage it will be possible to download .phars managed by PHIVE via Composer, thus a simple `composer.phar install` will be enough install all requirements needed to develop with Magento.

Steps needed to enable PHIVE support (as far as I can see right now):
1. Deploy a phive.xml file to your webserver, see [here](h

[2017-05-20 09:28] hostep commented on #287
Just a small hint, you can already install magerun2 using composer: `composer require n98/magerun2`.
You can then use it by executing: `php vendor/bin/n98-magerun2`

The interesting part of phive (first time I heard of this tool) is:

But in my experience, n98-magerun2 has no issues with dependency conflicts at this point.

[2017-05-22 07:30] shochdoerfer commented on #287
One should be very picky when it comes to require-dev dependencies. I blogged about it [here](https://blog.bitexpert.de/blog/require-dev-gone-wrong/) and [here](https://blog.bitexpert.de/blog/solving-the-require-dev-problem/).

[2017-05-22 08:25] PascalBrouwers opened #288 "sys:cron:run can only run crons in group 'default'"
Version: 1.4.0

sys:cron:run can only run crons in group 'default'. When I try to run a run in the 'index' group using `sys:cron:run indexer_update_all_views` I get:
`Notice: Undefined index: name in phar:///Users/pascal/Sites/kingdo2/n98-magerun2.phar/src/N98/Magento/Command/System/Cron/AbstractCronCommand.php on line 97`

[2017-05-22 11:12] fedekrum commented on #284
Same error here.
All local permissions OK.
Tried even being root and had the same error.
n98-magerun2 is able to download composer to the target folder, so n98-magerun2 has permissions to write to it.

May be I am missing something, but I cant get a solution.
A good thing  n98-magerun2 can do for us, is to give a clue of which directory was not accesible and the kind of denial it has receibed.

[2017-05-22 12:27] ktomk commented on #287
No need to over-generalize IMHO, so far we don't have such dependency problems and if we (I) ditched something in the past, we're taking care for a quick and thoughtful resolution.

Create a PoC if you think it is valuable, this is missing in terms of this request.

I reviewed Phive some time ago, I'm not against it, but that time I decided to first concentrate on the reproducible Phar builds.

Af

[2017-05-22 13:29] shochdoerfer commented on #287
This issue was more meant to be an "improvement" than bug report as I was experimenting with PHIVE a bit recently. No need to work on it right now. Happy to help out but I am not sure if I have access to your build/release workflow.

Reproducible Phar builds definitely sounds more important, though. Again, happy to help if I can.

[2017-05-22 14:56] ktomk commented on #287
Our phar builds are reproducible nowadays, but they weren't that time when lookomg into Phive for Magerun. Actually it's quite necessary for sane binary builds nowadays (e.g. see https://github.com/netz98/n98-magerun/issues/885) and are a precondition for Phive setups.

Do you know about the Phive Composer integration schedule? To give Phive some traction I think that would be beneficial.

Next to

[2017-05-22 15:01] ktomk commented on #287
And in case of Magerun - not to forget - there is some benefit to even run into dependency problems, especially with Magento as main package as it is the case with Magento 2. This is contrary to what you're currently fiddling with. Not saying this would be against a Phive package, but I would normally suggest to install it as a dependency for Magento 2.

[2017-05-22 16:25] shochdoerfer commented on #287
Not a problem at all. I just thought it might be a nobrainer to support PHIVE since you already have what is needed - the .phar files as well as the checksums. Feel free to close the issue if it does not make sense you or if you think it is not worth the effort.

[2017-05-24 13:28] FluroShift commented on #284
@fedekrum I solved this by bypassing the whole downloading step. Just manually download the magento files you want to use and place them on your local or external server you want to install magento on using n98-magerun2. Then run the original install command with --noDownload at the end to tell n98-magerun2 that the magento files are already in place. Hope this helps!

[2017-05-24 13:28] #284 closed

[2017-05-26 11:54] peterjaap opened #289 "magerun2 customer:create shows incorrect notice"
[code]

After the first time I run `customer:create` it gives a success message, but the customer isn't actually created due to the password error.

[2017-05-26 19:34] amenk opened #290 "Sync Optimize with magerun1 / autocommit=0 missing"
The autocommit=0; + COMMIT options should be added

see

https://github.com/netz98/n98-magerun/blob/master/src/N98/Magento/Command/Database/ImportCommand.php#L59

As I don't understand that shared folder thing (where I believe it should be moved) - I can not provide a pull request... :-(

Can you fix it?

[2017-05-26 19:51] amenk commented on #290
Seriously ... I sure can copy&paste the function from magerun1 ... but how can it be properly done? Could you extract the DB Helper functions in the proper way for me @tkn98 ? I can then adapt the optimize code.

[2017-05-27 20:46] ktomk commented on #290
Files that are exactly the same can move into shared. But that is not to make files exactly the same, just how the shared folder works.

The rest is forward porting and extracting. Often I can cherry pick from one repo into the other or vice/versa, even w/o conflicts (change log sometime has these, but that's not to prevent).

[2017-05-29 17:49] amenk commented on #290
@cmuench thanks for merging ... a bugfix release would be awesome...

[2017-05-31 12:08] jacquesbh commented on #245
We had te same problem today and we used this to resolve the issue:

[code]

Because the `startEnvironmentEmulation` doesn't change the area code in Magento.

And Magerun uses `emulateAreaCode('crontab'…)` to run the cron jobs.

[2017-06-01 07:42] ktomk commented on #245
@jacquesbh: Thanks for the feedback. When I reviewed the cron invocation last time, I did not find a place where the area code is changed. Can the code be set per cronjob somehow?

[2017-06-01 08:03] jacquesbh commented on #245
I don't think so. The best way to do that is to emulate (both store and area code).

[2017-06-01 08:15] ktomk commented on #245
Wouldn't that then be the job of the module's / cron action's code? Magento's own code is hard to follow / a bit convoluted when it's about to invoke the cron actions which makes it hard to mimic the behaviour for single cron action invocation as by Magerun.

[2017-06-01 08:40] jacquesbh commented on #245
I use emulation in some of my cronjobs yes, directly in the module's code.

[2017-06-01 13:49] robbertstevens opened #293 "Admin password expires despite recent change"
When I update the password with the command the password expire message doesn;t get reset. So even if I change it everyday I still get notification I need to change my password.

[2017-06-03 09:23] shochdoerfer opened #295 "Run composer with the same interpreter as magerun2"
I have PHP 5.6, PHP 7.0 and PHP 7.1 installed on my host. Recently I made PHP 7.1. the default PHP interpreter.

Now when trying to install a new Magento project via magerun2 by simply running `magerun2 install`.
Composer fails as magento/product-community-edition requires php ~5.6.5|7.0.2|7.0.4|~7.0.6. I tried to "solve" the problem by running magerun2 via `php7.0 /usr/local/bin/magerun2 install`

[2017-06-05 12:16] cmuench commented on #295
Thanks for reporting. I prefer to version 2. It is not a workaround for me.

[2017-06-05 12:17] #290 closed

[2017-06-05 12:25] cmuench commented on #286
@jay-metmeer Thank you for reporting your issue. Please provide more informations.
How do you execute n98-magerun2 in your PHPStorm IDE?

[2017-06-05 12:26] cmuench commented on #288
@PascalBrouwers Thanks for reporting. I try to find a fix for the issue.

[2017-06-05 12:28] cmuench commented on #288
@PascalBrouwers I checked this in a current Magento 2.1.6 release and it seems to work. We get the cron job list from Magento `\Magento\Cron\Model\ConfigInterface`. This could be a bug in an older Magento version. Can you provide your used Magento version?

[2017-06-05 12:33] cmuench commented on #285
@wrsenn I cannot reproduce a wrong behaviour.
One common problem is that the "--skip-root-check" option must be placed before the command call.

Correct:
`n98-magerun2.phar --skip-root-check script <filename>`

Wrong:

`n98-magerun2.phar script --skip-root-check <filename>`

[2017-06-05 12:34] cmuench commented on #279
@ktomk The default branch is switched. I don't understand the issue here? Can you help me?

[2017-06-05 12:34] cmuench commented on #265
Closed due to missing feedback.

[2017-06-05 12:34] #265 closed

[2017-06-05 12:36] #281 closed

[2017-06-06 07:34] shochdoerfer commented on #295
Cool. I try to tackle the issue then. Will send a PR when I am done.

[2017-06-06 07:36] cmuench commented on #295
@shochdoerfer 👍

[2017-06-06 08:22] PascalBrouwers commented on #288
Hmm, must be something wrong with my 2.1.4 installation. A clean install of 2.1.4 does not give this problem. Maybe some module is interfering.

[2017-06-06 08:29] cmuench commented on #288
@PascalBrouwers ok. Thanks for checking. I close the ticket. If anyone could reproduce the issue we can reopen it again.

[2017-06-06 08:29] #288 closed

[2017-06-07 18:11] ktomk commented on #279
@cmuench It's the note on how to checksum. I can update that later today and close this one afterwards. Nowadays both repos need an update.

[2017-06-07 22:51] #279 closed

[2017-06-07 23:54] ktomk commented on #295
The install command should have a command-line switch for that to remain backwards compatible.

There then could be another easy switch to default to PHP_BINARY (this should be found in src in some different (?) cmds already, we couldn't do it that easily in Magerun 1 due to PHP version constraints).

IIRC there is also an existing command-line switch for further composer parameters, the new switc

[2017-06-07 23:59] ktomk commented on #279
We believe that the bug reported is fixed in the development version. It can be upgraded to it using the `self-update` command with the `--unstable` switch.

[2017-06-08 09:00] shochdoerfer commented on #295
Using PHP_BINARY is how I started to solve the problem, also had to fix a few side-effects like finding the absolute path to composer. Working fine on Linux so far, need to test it on Windows. Since you pointed out the Composer feature, does it make sense to add another dependency like symfony/process to handle the PHP_BINARY lookup or should I implement the logic myself?

Is it really needed to h

[2017-06-08 14:52] ktomk commented on #295
In Magerun2 there is no need for PHP 5.3 or Windows support.

I think to keep things simple is to add a new command-line option with an argument specifying the composer command. default value should be current composer command (the binary) for the `install` command.

Then another command-line option (which would not require an argument) that makes the install command to use PHP binary of the Mager

[2017-06-09 12:55] amenk commented on #290
@cmuench @ktomk could you make a release 1.4.1 ? or shall I make one?

[2017-06-09 13:57] cmuench commented on #290
Version 1.5.0 will be released today. Stay tuned.

[2017-06-09 15:13] cmuench commented on #289
@peterjaap Fix is now live! Please close the ticket if everything works for you.

[2017-06-16 13:27] hostep opened #296 "Timezones in cron will change between Magento 2.1.x and 2.2.x, how to handle this change?"
Hi guys

Recently a Pull Request: https://github.com/magento/magento2/pull/9943 was accepted and it will be released in Magento 2.2.0: https://github.com/magento/magento2/issues/4237#issuecomment-308962425

This fixes an issue with wrong timezones being used when inserting and reading times in/from the `cron_schedule` table.

The problem is, that n98-magerun2 also has some functionality which uses

[2017-06-16 17:36] ktomk commented on #296
Thanks for pointing this out!

If I understood you right, it should be enough to use the correct time-stamp string values.

So if timestamp creating is extracted and moved into an abstract method in the base class, the decision on version can be implemented there.

    $this->timezone->scopeTimeStamp() -> $this->getTimeStamp()

And then changing `AbstractCronCommand::getTimeStamp()` according to t

[2017-06-16 18:13] hostep commented on #296
This sounds like a good solution :)

API-wise, I doesn't look like much has changed unfortunately, most of the useful functionality is part of the [ProcessCronQueueObserve class](https://github.com/magento/magento2/blob/82f1bac/app/code/Magento/Cron/Observer/ProcessCronQueueObserver.php), which only has one public method.

[2017-06-16 19:14] #296 closed

[2017-06-16 19:21] ktomk commented on #296
That's what I thought of, this one big Moloch handling "all the things" :)

Anyway thanks again for report and review, I just pushed some changes that should handle it: https://github.com/netz98/n98-magerun2/compare/854d5983d786b79287cbd2b719996cf354d3a594...248502117037491f928f90508c45bc164a10c887

---

We believe that the bug reported is fixed in the development version. It can be upgraded to it

[2017-06-16 20:17] hostep commented on #296
Wow nice one, this went a lot quicker then I expected, tnx! :)

[2017-06-20 08:50] ktomk commented on #293
I guess the timestamp column needs to be updated as well, needs a closer look in Magento 2, I made some notes with the previous report in Magerun 1.

        # setNewPassword()
        # getPciAdminUserIsPasswordExpired
        # lock_expires
        # yyyy-MM-dd HH:mm:ss

[2017-06-27 21:24] cmuench commented on #285
Closed according to missing response. Please re-open if the problem still exists.

[2017-06-27 21:24] #285 closed

[2017-06-27 21:25] cmuench commented on #286
Closed due to missing response. Please re-open of the problem still exists.

[2017-06-27 21:25] #286 closed

[2017-07-11 08:31] NathanDayMF opened #299 "Using --scope-id 0 does not work with config:get"
## Expected Behavior
I should be able to pass a '0' value to the scope-id and it will only return this scope-id

## Current Behavior
a zero value is being read as false in the GetCommand.php so never enters the if statement to add the scope-id to the collection filter

## Possible Solution
amend this [if statement](https://github.com/netz98/n98-magerun2/blob/develop/src/N98/Magento/Command/Config/

[2017-07-11 22:09] ktomk commented on #299
Thanks for the report, `strlen()` can work, too.

[2017-07-27 13:51] perler opened #300 "Magento Install Issue with Composer auth.json Creation"
I am having trouble installing magento from n98:

[code]

I am not quite sure if this is a simple authentication problem on the magento server side or a permission problem on the local server.

[2017-07-28 16:27] cmuench commented on #300
@perler Can you manually run this code?
[code]

[2017-08-08 09:55] makoeppel opened #302 "spelling error inside the installation"
./n98-magerun.phar --version I think it should be ./n98-magerun2.phar --version

[2017-08-14 04:59] cmuench commented on #302
@makoeppel Yes, Thanks for the hint. Waiting for your first  n98-magerun2 PR ;-)

[2017-08-16 18:02] ignat980 commented on #300
I have the same exact problem! That is the same output of `n98-magerun2 install` I thought it was a local file system permissions thing, but seems like something else. It appears after I get asked for my public/private keys.

Note: I put in my actual keys from Magento Marketplace
[code]

My setup:
Ubuntu       16.04
apache        2.4.18
mysql          5.7.19
php             5.6.31
Magento2   2.1.7

[2017-08-17 20:31] scottsb commented on #49
This is probably not worth completing, given the introduction of the new `config:dump` command that largely overlaps this introduced in Magento 2.2.

Also, there is this project which is very similar:
https://github.com/semaio/Magento2-ConfigImportExport

[2017-08-17 20:54] ktomk commented on #300
Normally the best answer I can give here is `auth.json`, see as well https://magento.stackexchange.com/q/90983/4115

[2017-08-18 06:17] #248 closed

[2017-08-21 10:07] jschreck commented on #300
I've had the same problem. I followed @ktomk suggestion and made sure I had a valid auth.json file.

In the end it turns out that it must be related to the location of composer.phar.

magerun would give me the following output:

`which: no composer.phar in (/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin:/opt/aws/bin:/home/ec2-user/.local/bin:/home/ec2-user/bin)
which: no composer in

[2017-08-21 11:57] jschreck commented on #155
@ktomk - I've tried to pre-create auth.json in the magento root, but magerun will then completely fail when trying to install in the current directory. Removing auth.json allows magerun to install, but then fails to install the sample data

[2017-08-21 17:16] amenk opened #305 "Add Magento 2.1.8 to install screen"

[2017-08-21 20:15] hostep commented on #155
@jschreck: composer refuses to create a new project in a directory which isn't empty, so if you create an `auth.json` file in that directory, then it's no longer empty and it fails.

Not sure if this helps here, but I have a small php script which I've been using over the last couple of months to quickly spin up a new Magento2 installation.
It involves first setting up an environment variable [`CO

[2017-08-21 21:14] #305 closed

[2017-08-22 16:41] ignat980 commented on #300
I found out the problem. I installed composer with sudo, but ran composer without sudo. Running composer with sudo does not fix this, because composer doesn't use sudo permissions or something like that when accessing files.

Basically to fix this I needed to run the command `sudo chown www-data:www-data /home/ignat/.composer` (aka set the .composer file owner to the magento file system owner)

[2017-08-22 17:49] perler commented on #300
re auth.json

I put a well formed auth.json in the magento root and in ~/.composer but I still get asked for the public/private key.

`{
    "http-basic": {
        "repo.magento.com": {
            "username": "email@email.com",
            "password": "***api key***"
        }
    }
}`

also, is the public key part the email address or the screen name?
![t2](https://user-images.githubusercontent

[2017-08-22 17:57] ktomk commented on #300
It is in this format:

[code]
So username is not the email IIRC. Pleae check with the API Keys, they are managed in the Magento account, this is not the Magento account itself.

[2017-08-22 18:03] ktomk commented on #300
And for the initial problem this might show a flaw in Magerun. Can you run with the verbose switch (`-vvv`) and see if it shows something more fishy? It looks like the actual command (the empty string should be "`composer`") IIRC.

[2017-08-22 18:09] ktomk commented on #155
X-Ref: #300 just for reference.

[2017-09-05 07:11] jthln commented on #100
Can be closed, has been implemented with #275.

[2017-09-05 07:12] jthln commented on #40
Can be closed, has been implemented with #275.

[2017-09-05 07:14] jthln commented on #69
Can be closed, has been implemented with #260.

[2017-09-05 07:15] jthln commented on #99
Can be closed, has been implemented with #276.

[2017-09-05 07:16] jthln commented on #141
Can be closed, has been implemented by #266.

[2017-09-08 08:51] opiumated commented on #302
Based on this open issue, there are other areas in the CLI were tiny spelling errors are found like Flushs instead of Flushes etc.

[2017-09-12 11:57] amenk opened #308 "n98-magerun2 cache:clean block_html,full_page should show an error"
The right syntax is
`n98-magerun2 cache:clean block_html full_page`

But if we try to clean a cache that does not exist, it should show an error.
Magerun Version: 1.6.0 Magneto 2.1.8

[2017-09-19 07:01] ajpevers commented on #201
@erikhansen: A consistent way to reproduce it is to enter a nonexistent crontab entry in the `core_config_data` table:

[code]

Then flush config cache.

In my opinion it would be best if this tool would be able to deal with this faulty config. After all it is a tool designed for development. When multiple developers are working with te same database it is very likely that the code bases of the di

[2017-10-03 10:26] ktomk opened #315 "Travis build fail w/ magento-ce-2.2.0"
The Phpunit test-suite has some failures in the Travis build for Magento CE 2.2.0.

For example this job: https://travis-ci.org/netz98/n98-magerun2/jobs/282622405

[2017-10-04 21:20] ktomk commented on #315
X-Ref: #317

[2017-10-11 07:31] cmuench commented on #315
Fixed.

[2017-10-11 07:31] #315 closed

[2017-10-11 17:14] #289 closed

[2017-10-18 09:56] rickkuilman commented on #245
I'm having the same issue. I am trying to send an email via a cron job, but I get the same error as https://github.com/netz98/n98-magerun2/issues/245#issuecomment-275353281. This is the code I currently have:

`Acme/DropShipment/Cron/SendDropShipmentEmails.php`
[code]

`Acme/DropShipment/etc/email_templates.xml`
[code]

`Acme/DropShipment/view/frontend/email/dropshipment.html`
[code]

---

When I

[2017-10-18 16:52] barbazul opened #323 "Cannot install 2.0 in Magento 2.2"
When trying to install via `composer require` in a vanilla M2.2 installed via composer I get the following:

[code]

[2017-10-18 19:29] cmuench commented on #323
This issue is already covered in in #313.

[2017-10-18 20:38] barbazul commented on #323
Thanks. Missed that on my search for the issue.

[2017-10-18 20:38] #323 closed

[2017-11-01 11:21] srzkptrsk opened #326 "PHAR file is damaged"
Could you check n98-magerun2.phar file for errors?

[2017-11-01 11:22] ktomk commented on #326
I can confirm the problem.

We have a report of this as well just since some minutes for Magerun 1 : https://github.com/netz98/n98-magerun/issues/956

It seems this is related to the download server.

[2017-11-14 12:44] a-dite opened #329 "admin:user:change-password on Magento 2.2 throws an error "Area code not set: Area code must be set before starting a session.""
reproduced on:

PHP 7.0.24
Magento 2.2 EE

[2017-11-15 08:35] shinesoftware opened #330 "Sample Data error"
hi guys, I get this error during the magento 2.1.8 setup

![selezione_080](https://user-images.githubusercontent.com/1553035/32826350-54fe9a8a-c9e8-11e7-8361-b7a00d3203ef.png)

[2017-11-15 22:47] ktomk commented on #330
Please provide text-information in text-form and not via an image. Thanks.

[2017-11-15 22:53] dvershinin opened #331 "Bash autocompletion broken + warning"
Just _updated_ autocompletion from [here](https://raw.githubusercontent.com/netz98/n98-magerun2/develop/res/autocompletion/bash/n98-magerun2.phar.bash) and got warning emitted upon every login to server or switching users via `su`:

    -bash: compdef: command not found

Googling for the error says that ```compdef``` is not even available in bash. I am **not** using zsh at all. I am using bash.  S

[2017-11-15 23:08] ktomk commented on #331
This looks like an error in the autocompletion generation script we use, indeed. Thanks for the report and the clarification.

Int was `complete` (not `compdef`) earlier (ref: https://github.com/netz98/n98-magerun2/blame/e1da0b810f1f3324ecafa7278a3d364573655d0e/res/autocompletion/bash/n98-magerun2.phar.bash#L403) - which was correct.

[2017-11-15 23:26] #331 closed

[2017-11-15 23:32] ktomk commented on #331
Last time that auto-completion file was generated there was a little mistake not making the bash target explicit. I just updated the development branch (and made the generation script more stable), so that the Bash auto-completion (and not Zsh) is generated even when invoked on a Zsh shell.

Please use the latest revision from the development tree for that file, you should not see that error any l

[2017-11-24 17:04] tommypyatt opened #333 "dev:template-hints not working with Magento 2.2.0"
Template hints toggling was working on my Magento 2.1.7 dev instance, but seems not to work after updating to 2.2.0.

[code]

Output implies template hints should be enabled, but they aren't active on the frontend.

[2017-11-24 17:12] tommypyatt commented on #333
The CLI output seems to be correct (if template hints are enabled in the admin panel, message will be `Template Hints disabled for store default`) however the database value seems to stay the same:

[code]

This makes me assume that the problem is not that the logic is getting/setting the incorrect value, but that the set is maybe failing silently.

[2017-11-27 15:42] scottsb opened #334 "Corrupt phar"
The magerun 2.0.0 PHAR on the file server is corrupt. When run with no arguments the following error occurs:

[code]

Output of `sha256sum`:

[code]

Output of `php -v`:

[code]

[2017-11-27 16:02] scottsb commented on #334
Hmm. Maybe this is a non-issue. I tried downgrading to a version I know works fine on another server, and I get the same error. Investigating further and will close if it's just on our server.

[2017-11-27 16:14] scottsb commented on #334
Never mind. Due to disk being out of space. 👎

[2017-11-27 16:14] #334 closed

[2017-11-28 10:44] amenk opened #335 "Support latest releases 2.2.1 / 2.1.10"

[2017-11-28 16:14] PascalBrouwers commented on #245
Any fix for this? Got the same error when running `sys:cron:run sales_send_order_emails`

[2017-11-28 17:59] #335 closed

[2017-11-28 20:02] rickkuilman commented on #245
@PascalBrouwers Until this day I comment out `/vendor/magento/framework/View/Design/Fallback/Rule/Simple.php:61` during development. I have no clue how to actually fix the problem.

[2017-12-05 08:57] niclashoyer opened #337 "Force dev:asset:clear in production mode"
We really love the dev:asset:clear command!
However we sometimes need this command on a production system to fix assets. Would it be possible to add a -f (force) flag as with setup:static-content:deploy to allow asset removing in production mode?

[2018-01-02 13:58] cmuench commented on #287
@shochdoerfer I added support for phive. Hope it will be merged.
https://github.com/phar-io/phar.io/pull/26

[2018-01-02 14:12] shochdoerfer commented on #287
@cmuench awesome news! Thanks. Will give it a try once it is merged.

[2018-01-02 14:13] shochdoerfer commented on #295
Minor update: Still have this on my mind. Just could not find the time to finalize the PR. Crossing fingers that it will happen in 2018 :)

[2018-01-02 15:07] cmuench commented on #287
@shochdoerfer It's already merged. My first tests were successful.
[code]

[2018-01-02 19:43] hostep commented on #287
@shochdoerfer:

Any idea what the status of this is?

I would prefer to be able to use composer to install a certain tool (phar or src code) and not install yet another tool to _manually_ manage these other isolated dependencies (like phive does). Preferable running `composer update` should update all main dependencies and also the isolated dependencies which are managed by something else.
I can s

[2018-01-02 20:31] shochdoerfer commented on #287
@hostep As far as I know phar-io/composer-plugin will be the next-gen version of tommy-muehle/composer-tool-installer-plugin and based on phive. Tommy seems to work on this and I was hoping that it will be finished soonish, but not sure about the current state.

[2018-01-05 10:13] cmuench opened #342 "Fatal Error in Magento 2 after Phive installation"
It got this error:

`PHP Fatal error:  Uncaught Error: Class 'Symfony\Polyfill\Php72\Php72' not found`

This seems to be related to the Phive installation with Symlinks.

Complete stacktrace:

<pre><code>
Fatal error: Uncaught Error: Class 'Symfony\Polyfill\Php72\Php72' not found in /Users/cmuench/Workspaces/PHP/n98/customers/my-shop/vendor/symfony/polyfill-php72/bootstrap.php:29
Stack trace:
#0 /

[2018-01-11 16:20] mmenozzi commented on #110
Why you don't want to port this?

[2018-01-11 18:43] cmuench commented on #110
There is no local.xml in Magento 2.
Magento 2 offers this feature with setup:config:set command.
http://devdocs.magento.com/guides/v2.2/install-gde/install/cli/install-cli-subcommands-deployment.html

[2018-01-12 08:07] mmenozzi commented on #110
Didn't know thank you!

[2018-01-18 11:08] djfordz opened #345 "Question: How to extend magerun2 commands?"
In n98-magerun, there is documentation on how to extend commands with your own, you then put them in ~/.n98-magerun/modules/

However n98-magerun2 I cannot find any documentation on how to extend commands.

Can I get a brief explanation on how to do this? I've created my own magerun2 commands and I would like to integrate them into my workflow.

[2018-01-18 11:29] djfordz commented on #345
Seems the same.

[2018-01-18 11:29] #345 closed

[2018-01-18 19:04] cmuench commented on #345
@djfordz you can place them into `~/. n98-magerun2/modules`.
I will try to copy the wiki of n98-magerun to v2.

[2018-01-18 19:39] djfordz commented on #345
yup, works great! thank you.

[2018-01-26 13:36] gerben86 opened #346 "eav:attribute:list throws error "Invalid entity_type specified: 19""
I'm running magerun2 2.0.0
When I execute this command: "n98-magerun2.phar eav:attribute:list" I get this error:

I'm doubting if this is due to a bug in Magerun, I expect a setup issue on my M2.1.10 installation, but where should I start looking?

Thanks!

[2018-01-28 16:23] cmuench commented on #346
@gerben86 Please have a look into eav_attribute database table if there is an attribute with the invalid entity type id '19'.
Or add the ID 19 to eav_entity_type table.
Normally this is not possible due to database constraints. Looks like a database with integrity issues.

[2018-01-29 06:24] cmuench commented on #342
Problem Silvester with an update of dependencies since v2.1.2.

[2018-01-29 06:24] #342 closed

[2018-01-29 06:31] #330 closed

[2018-01-29 06:32] #287 closed

[2018-01-30 21:13] erikhansen opened #348 "Fatal error due to Composer autoload generation error"
Steps to reproduce:

1. Install composer 1.6.1
2. Install Magento 2.2.2 using composer
3. Run `n98-magerun`

Expected results:
1. Magerun will run like normal

Actual results:
1. An error like this will be generated:
[code]

Another issue we saw with the autoloader:

[code]

[2018-01-30 21:16] erikhansen commented on #348
Several of our developers ran into this issue on Magento 2.2.2. Here is the solution we found:

1. Update to the latest version of Composer (1.6.2):
[code]
    If the above command doesn't work, try this:
[code]

2. Run `composer install` to regenerate the autoload file.

This seems to fix the issue.

[2018-01-30 21:16] #348 closed

[2018-01-31 13:47] hostep opened #349 "Can't update n98/magerun2 from 2.1.0 to 2.1.2 using composer in a Magento 2.2 project"
[code]

This problem was introduced in https://github.com/netz98/n98-magerun2/commit/f8590127bcf63c3e792a2d1235ab78b00c9603dc
Magento 2.2.0 and up have a [hardcoded dependency](https://github.com/magento/magento2/blob/2.2.0/composer.json#L42) on `composer/composer` v1.4.1

My suggestion would be to change the constraint to `^1.4` or even back to `^1.0` because they will all result in the latest of

[2018-01-31 16:39] amenk opened #351 "admin:user:create not working on dump --strip @development"
1. I create a dump with `--strip @development @idx`
2. Import that dump
3. Run `$ n98-magerun2 admin:user:create --admin-user=dev_admin --admin-password=dev123456 --admin-email=dev_admin@example.com --admin-firstname=DEV --admin-lastname=dev123456`

Error:

      [Exception]
      No Administrators role was found, data fixture needs to be run

I assume that the admin role itself is stripped away,

[2018-01-31 16:55] amenk commented on #351
Fix:
    INSERT INTO authorization_role (role_id, parent_id, tree_level, sort_order, role_type, user_id, user_type, role_name) VALUES (1, 0, 1, 1, 'G', 0, '2', 'Administrators');

I also though about removing authorization_role role from the strip-excludes. But this is not very nice as there is a role for each user and then the User first names are visible

[2018-01-31 16:55] amenk commented on #351
![screenshot_auswahl_015](https://user-images.githubusercontent.com/1087128/35635938-f42eb712-06af-11e8-8d19-b9c0b4e6971f.png)

[2018-01-31 19:36] ktomk commented on #349
Sounds good to me, `^1.0`  should handle all these cases and leave enough room for composer to do the resolution.

[2018-01-31 20:06] hostep commented on #349
Thanks for the confirmation @ktomk, PR created: https://github.com/netz98/n98-magerun2/pull/352

[2018-01-31 20:20] cmuench commented on #349
If we revert this we will also have issues with current Magento 2.2.2.
We need at least Composer V1.4 because of some autoloading issues.

[2018-01-31 20:27] cmuench commented on #349
We can change back to `^1.0` but we need to run "composer update" to lock a newer version for the phar file contribution.

[2018-01-31 21:59] hostep commented on #349
@cmuench: ok, I updated my PR and changed the constraint to `^1.4`, if < 1.4 has known issues, then we should definitely put it at `^1.4`

Just out of curiosity, can you give me some insight or links to the autoloading issues you mention?

[2018-01-31 22:13] ktomk commented on #349
I see. Hmm. Sounds like we need different phar builds for different Magento versions. There is one tool that (tries to) rename all the classes so you can create your own phar with the dependencies the utility itself needs while not toughing the commonly known ones.

The suggestion I gave with ^1.0 is for a composer based installation which leaves the dependency resolution to the dependency manager

[2018-02-01 08:32] cmuench commented on #349
@hostep This issues are related #342 #348

[2018-02-01 08:43] hostep commented on #349
#348 seems to be a bug in certain composer versions (1.6.0 & 1.6.1): https://github.com/composer/composer/releases, which was fixed in 1.6.2

Not sure about #342 though (might have been the same problem, since it was reported 27 days ago and composer 1.6.0 was released 28 days ago ...)

[2018-02-01 08:44] cmuench commented on #349
At the moment I think @ktomk is right. We need to set the dependency back to `^1.0` to fulfill the requirements for composer installations.
Then we do a "composer update" to fetch the latest composer version and pin them in the composer.lock. That will provide the new version within the phar file. We checked the current phar against a Magento 2.1.x release. It works. So we can go this way.

[2018-02-01 09:00] hostep commented on #349
Ah, I mistakenly thought Magerun 2.x wasn't backwards compatible with Magento 2.1, hence why I didn't see a problem with the `^1.4` constraint, but if Magerun 2.x is actually backwards compatible with Magento 2.1, then we should indeed use `^1.0` for composer based installations with Magento 2.1.

I'll update my PR tonight to use `^1.0` again.

[2018-02-01 10:41] amenk commented on #351
In addition we need

     INSERT INTO authorization_rule (rule_id, role_id, resource_id, privileges, permission) VALUES (1, 1, 'Magento_Backend::all', null, 'allow');

[2018-02-01 18:13] hostep commented on #349
Ok, updated PR again with `^1.0` constraint.

[2018-02-01 19:10] #349 closed

[2018-02-02 05:56] erfanimani commented on #351
Yep, experienced the same. Came to the same conclusion. I'm not sure whether this is a bug or not.. It's good it strips away the role and permissions, but annoying and maybe unexpected at the same time. Especially for people coming across this for the first time.

It'd be good for the strip command to add the default admin user role back in, but not sure if that's in scope?

[2018-02-02 06:05] erfanimani opened #354 "`search_query` isn't emptied when using db:dump --strip="@development""
`search_query` and `search_synonym` should be dropped when using `@search` flag: https://github.com/netz98/n98-magerun2/blob/develop/config.yaml#L202

[2018-02-02 10:31] davidalexander commented on #351
#353

[2018-02-02 20:51] ktomk commented on #354
Can you try with a development build and provide a PR if it matches your expectations?

[2018-02-03 17:17] amenk commented on #351
I was thinking to rather recreate the admin role ... because by this we now have lots of user data in the dump

[2018-02-05 07:19] erfanimani commented on #354
Thanks @ktomk. Created PR.

[2018-02-05 14:35] erfanimani commented on #351
Yeah, recreating the default admin role would make the most sense. +1

[2018-02-06 07:14] ktomk commented on #354
@cmuench: Can you give this a quick review if it is applicable? Looks good from my end.

[2018-02-06 09:48] cmuench commented on #354
@ktomk Yes, this looks good for me.

[2018-02-07 10:28] #354 closed

[2018-02-09 10:35] juho-jaakkola opened #356 "NULL config value gets saved as string"
Expectation is that when I run this command, the value gets saved as NULL value in the database:
[code]
What however happens is, that the value gets saved as the *string* "NULL":
[code]
This causes problems such as different kind of validation to fail saying "NULL is not a valid value".

[2018-02-09 19:18] hostep commented on #356
@juho-jaakkola: you are probably using Magento 2.2.x and Magerun 2.x.x, right?

The thing is, the `config:set` command was introduced in Magento 2.2.x through it's bin/magento cli, which Magerun inherits from. So they had to rename the command from Magerun to not override the one from Magento, the new one is called: `config:store:set`. You can read more about it over here: http://magerun.net/versi

[2018-02-12 20:12] gerben86 commented on #346
Hi, thanks! That was indeed the issue!

[2018-02-13 06:07] #346 closed

[2018-02-13 07:56] juho-jaakkola commented on #356
Yes, using `config:store:set` indeed seems to fix the problem. Thanks!

[2018-02-13 07:56] #356 closed

[2018-02-19 08:24] cmuench commented on #333
Confirmed in my local dev environment.

[2018-02-19 08:49] #333 closed

[2018-02-19 08:50] cmuench commented on #333
@tommypyatt Fix is in development version. If you want test it, please upgrade to unstable version.
`n98-magerun2.phar self-update --unstable`

[2018-02-19 11:57] diazwatson opened #358 "Best way to update values in core_config_data"
Hi guys,

I wonder what would you say is the best way to update values in `core_config_data` table on a Magerun2 module.

For Magento2 we can do something like:

[code]

and then
[code]
But for a Magerun2 module what would be the best way to do the same?

[2018-02-19 17:44] cmuench commented on #358
I guess you have a custom command.
You can inject what ever you need in a command by creating an "inject" method.
Rename your constructor to "inject" should work.

It is also possible to call existing commands. So you could also call the config:store:set command.

[code]

[2018-02-20 10:30] diazwatson commented on #358
Great, I will try that.
Thanks Christian 😄 👍

[2018-02-20 14:11] tommypyatt commented on #333
@cmuench tested and verified fixed. Thanks! 😸

[2018-02-20 16:30] jefflenz opened #359 "Composer install fails"
Probably a user error, but I have a fresh install of Magento 2.2 with PHP 7.0.27 and Composer 1.6.2, but I'm getting errors when trying to install n98 via composer, I'm really not sure what the culprit here is:

composer require n98/magerun2
Using version ^2.1 for n98/magerun2
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including r

[2018-02-21 20:45] hostep commented on #359
@jefflenz: can you try executing:
[code]

This is an issue which should get fixed by https://github.com/netz98/n98-magerun2/pull/313

The above steps should normally work and will install version 2.1.0 of n98/magerun2
If you want the very latest version (2.1.2 at the time of writing), then you'll have to wait until a new version is released, because there is another composer conflict currently: ht

[2018-02-21 20:46] jefflenz commented on #359
I just curl’d it to /bin/

Thanks for the update, looking forward to the fix, take care

[2018-02-23 14:15] EliasKotlyar commented on #251
I found another Bug in the Magento 2.2 B2B Edition.
My System:
Magento 2.2.2 EE
B2B Extension 1.0.2

The original one was solved by Magento.

The Following Plugin from the B2B Extension is responsible for this error:

[code]

I have disabled this module, due that we are not using this feature.

[2018-02-23 14:16] EliasKotlyar commented on #329
I suppose its a duplicate of:
https://github.com/netz98/n98-magerun2/issues/251

[2018-02-28 09:48] amenk commented on #351
So shall we go for that second solution? Currently very annoying :-)

[2018-02-28 16:15] cmuench commented on #351
We reverted the stripping of the "authorization_rule" table with PR #353.
This is already available in develop branch.

[2018-02-28 21:08] amenk commented on #351
Yes i saw that but I am not sure if that is the best possible solution.the
roles table usually exposes information about the systems users which might
be unwanted. The development dumps aim to provide a db version which is not
covered by data protection laws and so on... At least in theory.

So I suggest to create the admin role on the fly when it is not there, just
as in magerun1.

[2018-03-01 02:23] cmuench commented on #351
@amenk I wrote this in my last comment. The second solution is better. For the first moment, we reverted the previous behavior to have a working command.
BTW this does not violate the data protection laws. This is not user specific content of the user table is empty. We talk about authorization informations like a role name.

[2018-03-01 19:03] watermark commented on #329
I do not think it's a duplicate.  I'm also getting this on Magento CE 2.2.3 using magerun 2.1.0.

[2018-03-02 12:25] EliasKotlyar commented on #329
@watermark : Do you use any Extension? It may be related to some Events or Plugins. I checked on a Stock 2.2.3 and could not reproduce.

[2018-03-04 11:51] amenk commented on #351
okay, maybe I find the time to do a PR.
Concerning "data protection": what I am talking of is, that the roles seem to be automatically created using the users first name.

[2018-03-04 13:39] amenk commented on #351
The fun part will be to extend the admin:user:create command which itself is not defined by magerun2 but loaded from the standard Magento CLI (see `\N98\Magento\Application::registerMagentoCoreCommands`)
We also have the option to create an additional command like admin:user:add-admin-role or the like ...

[2018-03-04 14:12] amenk commented on #351
What do you think of my proof of concept? Shall we go down this path or create a second command?

We could customize the help of the command to state that it is modified from the core, but I think it is a good way to extend core commands.

[2018-03-05 13:11] #295 closed

[2018-03-12 18:35] yoosefi commented on #329
Vanilla installation of CE 2.2 here, getting this issue.

[2018-03-12 18:40] yoosefi commented on #329
Vanilla CE 2.2.3 here, only base Magento modules. Getting this error.

[2018-03-14 17:24] arteugen opened #365 ""magerun2 customer:create" except dynamical customer attributes"
Problem is if you have in project custom obligatory attributes that variate from standard required attribute - it is not possible to create an account via magerun2

[2018-03-15 13:14] tousif12 opened #366 "After installing n98-magerun2 cron jobs are not running automatically."
Version : Magento 2.1.8
After Installation I run it for  mailchimp cronjob that worked perfect .
But after that now mailchimp supposed to sync all contacts after 1 ,2 hours .When I ran cronjob using n98-magerun2  all contacts sync . But without it cronjob is not working .

[2018-03-15 20:07] cmuench commented on #366
Sorry, I do not understand the issue.
Do you run your cronjob with n98-magerun or the native `cron:run` command?

[2018-03-17 09:53] leonampd opened #367 "Create customer shipping and billing address"
Hello everyone,

Is there a way to create customer's shipping/billing address through magerun? If not, what u think about this?

[2018-03-17 20:38] cmuench commented on #367
This is currently not implement. The customer:create command is really basic. It does  not support e.g. additionally created required customer attributes.
I will be happy for every contribution.

[2018-03-22 16:02] ThomasNegeli opened #368 "db:dump and anonymized user data"
Are there any plans to implement a userdata anonymization when dumping the db?
On some installations we need the real customer account in developer environments, with complete account history, but we do not need real user data.

[2018-03-23 13:12] cmuench commented on #368
@ThomasNegeli I know a develop who plans to publish a n98-magerun2 module for that purpose.

[2018-03-24 10:32] amenk commented on #351
In the meantime I had a look on it .. it seems to complicated to use Magento's installer to recreate the admin roles. So what we might do is to just kick of the above SQL statements via PDO.

[2018-04-20 03:27] zennco commented on #245
Same error with version 2.1.2.
Magerun sets area code as "crontab" and Magento can't find the template file.

[2018-05-04 17:16] lingwooc opened #371 "Feature request: opposite of db:dump exclude/strip: include only"
It would be really useful to have the option to do the opposite of a strip/exclude. So I might call:

[code]

And get just those tables. I had call to use this today to update my sales tables from the "production" server to the "soon to be production" server.

As it happened I just used the --only-command option and adjusted the mysqldump command manually.

[2018-05-15 14:35] nbennett25 opened #373 "Feature request: add object manager to dev:console"
It would be great to be able to pass an argument to the dev:console command to automatically instantiate an object manager rather than have to call it each time manually:

`$: ~/n98-magerun2.phar dev:console --with-object-manager objm`

would get you to something like:

[code]

[2018-05-15 14:40] nbennett25 opened #374 "Feature request: pass area into dev:console"
In order to mitigate the
`Magento\Framework\Exception\SessionException with message 'Area code not set: Area code must be set before starting a session.'`

error (which I'm seeing when loading a product through the object manager in dev:console, also [Issue #329](https://github.com/netz98/n98-magerun2/issues/329))

in the dev:console, it'd be great to be able to pass the area name in when starting

[2018-05-15 15:01] Vinai commented on #373
It already exists as `$di`

[2018-05-16 13:06] nbennett25 commented on #373
thanks @Vinai! that's exactly what I was looking for - is there any documentation that that var is already set in `dev:console`? I don't see any mention of it in `dev:console --help`.

[2018-05-16 15:12] Vinai commented on #373
I didn't see any documentation. Was planning on a PR to auto-declare the ObjectManager as `$om` and saw it already in the source :)

[2018-05-16 17:20] nbennett25 commented on #245
Also happening in 2.1.7

[2018-05-20 09:54] lingwooc opened #375 "Can't run db:import without having valid db"
If you run on `db:import` on a magento installation with a missing database then it throws `SQLSTATE[42S02]: Base table or view not found: 1146 Table 'magento_full.xxx_store_website' doesn't exist, query was: SELECT 'xxx_store_website'.* FROM 'xxx_store_website'`. Which is the same error magento gives. I guess it's not unreasonable as this is a wrapper for `bin\magento`.

This is inconvenient as I

[2018-05-20 10:38] lingwooc commented on #375
Ugly one liner that does roughly the same thing for those with the same requirement.

`zcat {{dbfile}} | mysql -h $(php -r "\$env=include 'app/etc/env.php'; echo \$env['db']['connection']['default']['host'];") -u $(php -r "\$env=include 'app/etc/env.php'; echo \$env['db']['connection']['default']['username'];") -p$(php -r "\$env=include 'app/etc/env.php'; echo \$env['db']['connection']['default'][

[2018-05-22 04:54] ktomk commented on #375
so this is bootstrap related I assume, what you did is like initializing the database, correct? and Magento (and therefore magerun) needs it in an initialized state to import (as it runs magento code which implies the database is set up already). so kind of a hen & egg problem.

I guess it should be possible to offer a low level-command for that (like what you did w/ the one-liner), that is using

[2018-05-22 09:41] lingwooc commented on #375
@ktomk yeah that's more or less my assessment. It's useful to use an import as an initialisation when standing up a testing server. I guess its a matter of opinion if it is worth the changes since it breaks the bootstrapping.

[2018-05-23 03:47] fooman opened #376 "Incompatibility with Magento 2.3.0-alpha"
As a headsup when running against the Magento 2 root dir with 2.3.0-alpha installed the following error comes up:

[code]

Magerun2 2.1.2 itself is working outside that directory:

[code]

The following symfony packages got installed

[code]

[2018-05-23 04:07] fooman commented on #376
If I try instead the composer installation method I get:

[code]

[2018-05-23 04:12] fooman commented on #376
And one further finding, using `--skip-core-commands` lets at least the version command run correctly:

[code]

[2018-05-29 15:19] inklammern opened #377 "sys:cron:run - translation is not loaded"

[2018-05-30 04:52] mvenghaus commented on #377
i think s.th. like this is missing in

https://github.com/netz98/n98-magerun2/blob/develop/src/N98/Magento/Command/System/Cron/RunCommand.php

$areaList = $objectManager->get(\Magento\Framework\App\AreaList::class);
$areaList->getArea(Area::AREA_CRONTAB)->load(Area::PART_TRANSLATE);

[2018-06-10 12:56] frostblogNet commented on #359
@hostep Thx for help. Your solution works for me.

[2018-06-28 09:32] ronak2ram commented on #366
@cmuench
You can try `php n98-magerun2.phar sys:cron:run`
List of crons
`php n98-magerun2.phar sys:cron:list`
Single cron run
`php n98-magerun2.phar sys:cron:run catalog_product_alert`

[2018-07-01 09:06] macouella opened #379 "Getting a list of all admin routes"
Is it possible to get a dump of all custom admin routes using this extension, similar to rails routes

[2018-07-01 12:37] igimanaloto commented on #379
I see, not a problem! Thanks for the awesome cli! 👍

[2018-07-10 10:41] peterjaap opened #380 "db:dump strip=@stripped does not strip email_contact"
The table `email_contact` is introduced along with the dotmailer extension, which comes bundled with Magento 2.2.2. Horrible practices aside, this table should also be stripped when using the @stripped group because it might contain customer-sensitive data (the email address).

[2018-07-15 05:21] ruby-zhang opened #381 "customer:change-password cc@gmail.com Abc12345678 base return Area code is not set"
customer:change-password cc@gmail.com Abc12345678 base

return Area code is not set

[2018-07-15 13:56] cmuench commented on #381
@ruby-zhang That's triggered by Magento in an observer.
That event is triggered after the customer was created. So we do not know how we can handle that.
The user should be created successfully. Can you verify that?

[2018-07-23 19:33] shochdoerfer commented on #381
I just tested it as I ran into the same issue today. The password does not get set to the one I entered, the old password still seem to be in place as I can still log in with that. I tried with with Magento 2.2.5 CE.

Can't you set the area code in your command somehow globally?

[2018-07-24 10:20] ktomk commented on #381
I think we had that once, but it was not doing well. IIRC area code is problematic.

[2018-07-30 00:45] diazwatson commented on #55
Hi @cmuench I would be happy to help with this issue.

Is there any guide, material or advise I could use to understand how to setup my environment?

I have been looking at the code and the m1 command use Magento classes, how can I make the m2 classes available in my environment? I have noticed m2 is not included as a dev dependency in composer.json

[2018-07-30 08:13] diazwatson commented on #55
Thanks, I'll have a look

[2018-07-30 08:18] diazwatson commented on #55
Any suggestion on how can I access Magento core classes from Magerun?

[2018-07-30 13:12] ktomk commented on #55
They should be available via autoloading.

[2018-08-04 10:33] peterjaap commented on #381
Dirty hack; make magerun echo (the actual echo function) something early on, this will cause Magento to set an area and the command works.

[2018-08-04 22:45] ktomk commented on #381
so setting an area code is triggered via the output (buffer)? If it's the output buffer, that one is actually stackable...

[2018-08-09 08:27] codercv commented on #381
I have same issue to.

[2018-08-14 14:25] #380 closed

[2018-08-14 14:30] Stripped commented on #380
i have a mail because github thinking that you say about my mail)
@Stripped

[2018-08-14 14:32] cdiacon commented on #380
haha - sorry(izvini :)

[2018-08-24 09:44] amenk opened #386 "[Feature] Git Friendly Dumps"
Implement this kind of db dump:

   --git-friendly

https://gist.github.com/burknator/c30760a5c417dbc612c8

Aim is similar to human-readable, but does not need `--optimize` on the import.
Sooner or later we might deprecate `--human-readable` all together.

[2018-08-28 20:54] pmsteil commented on #329
I am also getting this error.  Base Magento CE v2.2.3 with one extension installed - the MGS Front End Builder (https://www.magesolution.com/mgs-frontend-builder-theme-for-magento2.html).

Any workaround available for this?  Really need to be able to set the password on a user for testing.

Thanks,
Patrick

[2018-09-10 09:04] amenk opened #388 "db:dump --add-time broken?"
Add Time does not seem to add the time stamp anymore?

	www-data@www:/var/www/html/example.de/web$ n98-magerun2 db:dump --add-time

	  Dump MySQL Database

	Filename for SQL dump: [example.sql]
	Start dumping database example_prod to file example_prod.sql

[2018-09-10 12:12] amenk commented on #386
PR looks good to me, can it be merged?

[2018-09-12 07:48] mludd commented on #374
Does anyone have a workaround for this issue?

[2018-09-12 15:41] Vinai commented on #374
As a workaround I set the area manually
[code]

[2018-09-12 20:26] #386 closed

[2018-09-12 20:28] cmuench commented on #374
I am not sure if settings the area code is enough. We need to load events and config for each area.
@Vinai What is your opinion here? Would it be useful to init the complete area?

[2018-09-12 20:29] cmuench commented on #388
Bug Confirmed.

[2018-09-12 21:50] #388 closed

[2018-09-12 21:52] cmuench commented on #381
Same problem as #329

[2018-09-12 22:47] cmuench commented on #366
@ronak2ram @tousif12 Only to clarify.
The native "cron:run" command runs all Magento cronjobs. If you do not have setup an unix cronjob (you can do this by calling cron:install command), no cronjob will automatically executed.
Our tool n98-magerun2 will not replace unix cronjobs. It is only a developer/admin tool to debug cronjobs.

[2018-09-12 22:47] #366 closed

[2018-09-12 22:54] #302 closed

[2018-09-12 22:55] #381 closed

[2018-09-13 10:34] Vinai commented on #374
Yes, I agree the full area should be initialized if it where implemented as an option to the `dev:console` command. The above workaround is just to get rid of the exception - depending on what is the goal that might be enough.
I think all that's missing however is

[code]
I haven't looked into this very much yet though to be honest.

[2018-09-13 10:36] Vinai commented on #374
By the way, I've built the videos on Dependency Injection on Mage2 TV around `n98-magerun2.phar dev:console`, so - thank you!

[2018-09-13 12:01] cmuench commented on #374
@Vinai Great. :-)

[2018-09-14 06:39] awkwords opened #393 "--magentoVersion "2.2.5""
when using n98 to install, looks like for --version "2.2.5" its still pulling 2.2.3

[2018-09-14 09:44] #377 closed

[2018-09-14 09:47] cmuench commented on #393
@awkwords The current n98-magerun2 version is "2.2.0".
There is a Magento 2.2.5 version available. If you run "n98-magerun2.phar --version" you see the version of our command line tool.

[2018-09-21 12:31] kerrermanisNL opened #394 "Add magento 2.2.6 and 2.1.15"
Add Magento 2.2.6 and 2.1.15

PR incoming

[2018-09-22 18:42] #394 closed

[2018-09-25 03:34] awkwords commented on #393
@cmuench not sure how i butchered that issue, I completely missed the command i was trying to use.

the issue I am having is running this command

n98-magerun2 install --only-download --magentoVersion="2.2.5" --installationFolder="/var/www/htdocs" --skip-config --no-ansi

even when passing magentoVersion="2.2.5" it will still pull 2.2.3..

[2018-09-25 03:35] awkwords commented on #393
@cmuench notice the composer output.. still says 2.2.3.

Do not run Composer as root/super user! See https://getcomposer.org/root for details
Installing magento/project-community-edition (2.2.3)
  - Installing magento/project-community-edition (2.2.3): Downloading (100%)

[2018-09-25 15:55] mmenozzi commented on #374
If you need to perform some admin related operation like deleting things you also need to do:

[code]

[2018-09-27 13:32] amenk commented on #365
I might have the same problem - I am getting

    Requested store is not found

but we have a (non obligatory) custom attribute

do you have the same problem or another one? Which error are you getting?

[2018-09-28 10:04] arteugen commented on #365
Hi @amenk
i had another problem.
try to set the store in you cli directly like:
`mr2 customer:create --email email@netz98.de --password Password1234 --firstname Firstname --lastname Lastname --website 1`
@cmuench knows already about this problem with obligatory attributes

[2018-09-28 11:27] amenk commented on #365
You mean without --email and so on, right? because the options are not named

Usage:
  customer:create [options] [--] [<email>] [<password>] [<firstname>] [<lastname>] [<website>]

[2018-10-01 20:46] #245 closed

[2018-10-10 18:31] jwundrak commented on #245
Some notice: This fix resolve a double emulation. If you want to send mails in frontend-mode, you still need startEnvironmentEmulation. For more details look at the pull request description: #397

[2018-10-13 19:37] cmuench commented on #393
@awkwords I am still not able to reproduce the issue. Tried your command with the latest version and got a 2.2.5 download.
Could it be a composer problem? Which PHP version are you using?

[2018-10-16 16:48] fsspencer opened #400 "Undefined index: extension in n98-magerun2.phar/src/N98/Magento/Command/Database/DumpCommand.php on line 494"
Hi, I am running into this issue in two different servers.

Steps to reproduce:
1) Execute: curl -O https://files.magerun.net/n98-magerun2.phar
2) chmod +x n98-magerun2.phar
3) ./n98-magerun2.phar db:dump --compression=gzip ~/dump

Error received:

 Dump MySQL Database

  [Exception]
  Notice: Undefined index: extension in phar:///var/www/n98-magerun2.phar/src/N98/Magento/Command/Database/DumpComm

[2018-10-17 06:59] frostblogNet commented on #400
Hello @fsspencer,

I tried to reproduce your issue but I its working on my mac. Can you provide more information like os and php version.

Thanks

[2018-10-17 09:36] peterjaap opened #401 "--stdout broken in 2.3.0"
Since 2.3.0 `--stdout` is broken;

[code]

When I use 2.2.0 it works;

[code]

[2018-10-17 14:16] fsspencer commented on #400
Hi @frostblogNet.

Thanks for your response.
It's happening on Linux (AWS).

This is the exact output:

[code]

[2018-10-18 10:03] cmuench commented on #401
@peterjaap  I was able to reproduce the problem. I will provide a hotfix today. Thanks for investigation.

[2018-10-18 12:12] #401 closed

[2018-10-18 12:16] cmuench commented on #401
Fix is in develop. I prepare a release now.

[2018-10-18 12:44] cmuench commented on #400
This is the same problem as in #401.
We will provide a fix today.

[2018-10-18 12:53] cmuench commented on #400
@fsspencer Please test if problem is fixed for you.

[2018-10-18 16:43] fsspencer commented on #400
@cmuench problem still there. Following the same steps, and double checking that the version is 2.3.1

[2018-10-18 16:43] fsspencer commented on #400
@cmuench problem still there. Following the same steps, and double checking that the version is 2.3.1

[2018-10-19 15:31] cmuench commented on #400
gotcha. Seems to be a second problem there... I will try to fix it asap.

[2018-10-24 13:16] #400 closed

[2018-10-24 13:18] cmuench commented on #400
Fix is already in develop. I will prepare a release.

[2018-11-01 07:48] cooper85 commented on #329
https://github.com/netz98/n98-magerun2/issues/381 is not fixed this issue
That fix for command customer:change-password, this issue related to command admin:user:change-password

[2018-11-01 21:21] JosephLeedy commented on #400
Has this fix been released yet? I am getting this error as well and the newest version that I can update to with `selfupdate` is 2.3.1. Thanks!

[2018-11-01 21:32] cmuench commented on #400
@JosephLeedy GitHub automatically closed the issue due to my commit message.
The bug is fixed in develop branch.
I will create a release the next days.
Meanwhile you can run "self-update --unstable" to get the fixed develop version.

[2018-11-02 17:08] fsspencer commented on #400
This is the response after running self-update --unstable, and try to perform the db:dump:

[code]

[2018-11-07 08:30] amenk opened #407 "During update - actual filesize mismatch on file "vendor/symfony/debug/Exception/FatalThrowableError.php""
Updating to version 2.3.1.
	Downloading (100%)Successfully updated n98-magerun2
	PHP Warning:  include(phar:///usr/local/bin/n98-magerun2/vendor/composer/../../src/N98/Util/Markdown/VersionFilePrinter.php): failed to open stream: phar error: internal corruption of phar "/usr/local/bin/n98-magerun2" (actual filesize mismatch on file "src/N98/Util/Markdown/VersionFilePrinter.php") in phar:///usr/loc

[2018-11-07 08:50] amenk commented on #351
@cmuench What do you think?

We had another use case: In a Magento installation the Administrators role was renamed, so admin:user:create also does not work in this case ...

[2018-11-07 08:57] cmuench commented on #351
@amenk I think this is not very common. Maybe we can discuss that at next Magento meetup? At the moment I don't have a solution for your case.

[2018-11-07 08:59] amenk commented on #351
What do you think about this suggestion?

[2018-11-07 11:14] rjvandoesburg opened #408 "The "type" argument does not exist."
Hiya,

So I ran into an error using Magerun locally and `php bin/magento` on production with the `cache:` commands.

In Magerun you use `type` as an argument, see: https://github.com/netz98/n98-magerun2/blob/develop/src/N98/Magento/Command/Cache/FlushCommand.php#L15

Now I was getting errors on production and saw that Magento is using `types` (with an **s**) as an argument, see:
https://github.com

[2018-11-07 19:52] cmuench commented on #408
The problem is that the n98-magerun2 command is older than the Magento command. If we change the command we are braking backwards compatibility.

[2018-11-07 20:58] cmuench commented on #407
Confirmed. This occures after the update because the phar file which is currently running in the memory is already replaced on disk.
After that the autoloading is not working.
I will provide a patch.

[2018-11-07 21:01] cmuench commented on #407
Fixed in develop.

[2018-11-07 21:02] cmuench commented on #407
Hint: Problem is already in v2.3.0.

[2018-11-07 21:03] #393 closed

[2018-11-07 21:04] #256 closed

[2018-11-07 21:05] cmuench commented on #351
@amenk Yes, that could be a solution.

[2018-11-08 12:03] simonrl commented on #381
I am still having this issue in a multistore environment (6 websites, 18 store views) with N98 2.3.2, Magento 2.1.14, PHP CLI 7.0.22, on Mac OS High Sierra.

After executing the command, I am prompted to select a website and afterwards get the error "Area code is not set".

Command:
`n98-magerun2 customer:change-password existingcustomer@somedomain.com Password123`

I have verified the customer ex

[2018-11-14 15:38] nickw108 commented on #376
I have the same or a similar error with 2.3.0-beta32
[code]

[2018-11-15 10:35] cmuench commented on #376
@nickw108 Yes, That's one of my next projects to get n98-magerun2 compatible. My problem is that I need to be compatible with all older versions, too.

[2018-11-15 17:15] amenk commented on #351
@cmuench One more question.

If that solution I suggested last is in place, would we

1) add authorization_role + _rule again to the strip-tables of development (because they leak first names of the admin accounts)
2) or leave that as it is

If 1) we would invest time to make a PR I think :) If 2) we will live with our edge-case

[2018-11-17 18:08] #407 closed

[2018-11-17 18:09] #373 closed

[2018-11-17 19:45] cmuench commented on #376
@fooman @nickw108 I created a new branch which provides compatibility with latest 2.3.0 Beta. At the moment the Error Exception Events are not working due to Symfony incompatibilities.

[2018-11-19 01:18] nikescar commented on #376
@cmuench I tried to test your branch, could not get it to work.

`
bash-4.4# cat composer.json
    "require": {
     ....
    "n98/magerun2": "dev-feature/magento-2.3.0-compatiblity"
     ....
    },
    "repositories": [
        {
            "type": "vcs",
            "url": "https://github.com/cmuench/n98-magerun2.git"
        }
    ]
bash-4.4# composer require n98/magerun2:dev-feature/magento-

[2018-11-19 05:55] cmuench commented on #376
@nikescar only the phar version is working which is the the recommended way to use n98-magerun2. I am not sure if we can make the tool Composer compatible. The dependencies are very different between the Magento versions 2.1, 2.2 and 2.3.

[2018-11-20 00:46] nikescar commented on #376
@cmuench I got it. thank you for the kind answer.

[2018-11-29 09:51] vdloo commented on #376
Ran into the same thing:
[code]

[code]

[2018-11-29 10:04] cmuench commented on #376
@vdloo The Magento 2.3.0 support is on the way. The current version of n98-magerun2 is NOT compatible with Magento 2.3.0.
The `--skip-core-commands` option is only a workaround for command which are not bootstrapping Magento.

[2018-11-29 10:10] cmuench commented on #376
The PR #410 contains a basically compatible version.
There are some issues with Symfony Events which have to be fixed. If this is fixed we will provide a new release after we test anything.
The Travis build looks good so far: https://travis-ci.org/netz98/n98-magerun2/builds/456630955

[2018-11-29 17:21] cmuench commented on #376
@fooman @ktomk @nickw108 @nikescar @vdloo A compatible phar file for Magento 2.3.0 is available. Any beta testers?

`https://files.magerun.net/n98-magerun2-dev.phar`
or
`n98-magerun2.phar self-update --unstable`

If there are some errors, please ignore it. In old phar files we have an error in the Changelog-Reader.

[2018-11-29 23:48] Stevie-Ray commented on #376
@cmuench I can clean the cache on 2.3 with n98 but no luck running this command:
`/usr/bin/n98-magerun dev:symlinks  --global --on`

[code]

[2018-11-30 07:57] vdloo commented on #376
[code]

[2018-11-30 09:13] cmuench commented on #376
@vdloo Thanks for testing. I will check that.

[2018-11-30 14:56] cmuench commented on #376
@vdloo I was able to reproduce the issue. A fixed phar file is now published.

[2018-11-30 15:35] vdloo commented on #376
works, very nice :+1:
[code]

[2018-11-30 16:08] nickw108 commented on #376
Wondering where the phar file compatible with 2.3 is published 🤔I tried downloading the develop branch repo ZIP, but it only contains bin/n98-magerun2 which doesn't seem to work when copying it to the server's /usr/bin/local directory.

[2018-11-30 16:11] cmuench commented on #376
@nickw108 We removed the binary phar for some years.
You can find the phar files here: https://files.magerun.net/

We also offer checksums and a GPG signature to validate automatic downloads.

The direct download url is: https://files.magerun.net/n98-magerun2-dev.phar

[2018-11-30 16:15] nickw108 commented on #376
Thanks! I tried https://files.magerun.net/n98-magerun2-develop.phar by guessing, didn't know https://files.magerun.net/ exists as an index page, too. Nice!

[2018-11-30 16:17] cmuench commented on #376
@nickw108 We do our best to support every user and contributor.

[2018-11-30 16:17] nickw108 commented on #376
Awesome, now my favorite command `db:dump` works with 2.3, too 😂

[2018-11-30 16:18] nickw108 commented on #376
You are the best! Seriously!

[2018-12-05 13:58] arnoudhgz opened #412 "DB dump strip also exclude drop/create table statement"
Currently when you do a `db:dump --strip="@stripped"` e.g. with `@development` tables like `admin_user` are included in the dump as a drop+create empty table.

In a a lot of cases I would like to have this dump also not include this drop+create.

[2018-12-07 09:44] cmuench commented on #412
@arnoudhgz We strip the admin table according to fit the data protection laws. That is also true for admin users.
Feel free to add your own profile by config.

If you need the development dump with admin tables you can run this:

`n98-magerun2.phar db:dump --strip="@trade @stripped @search"`

[2018-12-07 20:44] JDavidVR opened #413 "[v3.0.0] sample:deploy PRE_COMMAND_RUN issue on Magento 2.2.6"
Hi today I've upgrade magerun to 3.0.0

n98-magerun2 --version
n98-magerun2 version 3.0.0 by netz98 GmbH

I detected an issue when trying to install sample data using magerun, here is the error:

[code]

[2018-12-08 19:15] arnoudhgz commented on #412
@cmuench thanks for the fast reply. I know I can use the stripped option, but this will create empty admin tables when I import the dump on the staging environment I don't want to destroy my current staging admin tables.

[2018-12-08 19:31] cmuench commented on #412
@arnoudhgz I checked that with a project on my local machine. I cannot confirm this.
The tool should print the names of the tables which are not exported. See "No-data export for:" message.
In my case I cannot see the admin tables there. The final dump file contains the admin_user table.
Instead of running the export it is possible to add " --only-command" to see the triggered mysqldump command.
C

[2018-12-08 19:49] cmuench commented on #413
I downgraded the bundled composer in the phar file to 1.4.3 which should be compatible with Magento 2.2.7.
Can you verify the command in your installation.
Please update to development version with "n98-magerun2.phar self-update --unstable".

[2018-12-08 21:44] JDavidVR commented on #413
Hi! @cmuench  it is working well on m2.2.7ee here are useful information, I will test with 2.3 too and will update this post.

Thank you!

[code]

[code]

[2018-12-09 10:42] cmuench commented on #413
@JDavidVR I was able to run the install sample data command in a fresh Magento Commerce 2.3.0.

[2018-12-09 11:04] cmuench commented on #413
The fix is deployed as v3.0.1.

[2018-12-09 11:04] #413 closed

[2018-12-09 11:05] #376 closed

[2018-12-11 08:36] cmuench commented on #251
@EliasKotlyar Can you verify if your problem still exists? With the 2.3.3 release we should have delivered a fix for the change-password commands.
For me it is working in my local 2.2.6 EE environment.

[2018-12-11 08:38] cmuench commented on #58
Already available.

[2018-12-11 08:38] #58 closed

[2018-12-11 08:38] cmuench commented on #57
Already ported.

[2018-12-11 08:38] #57 closed

[2018-12-11 08:39] cmuench commented on #53
Already ported.

[2018-12-11 08:39] #53 closed

[2018-12-11 08:39] #41 closed

[2018-12-11 08:39] #42 closed

[2018-12-11 08:39] #43 closed

[2018-12-11 08:39] #44 closed

[2018-12-11 08:39] #45 closed

[2018-12-11 08:39] #46 closed

[2018-12-11 08:39] #47 closed

[2018-12-11 08:39] stefankb opened #415 "Uncaught Error: Call to a member function get() on null MagentoHelper.php:397"
Hi there,

We've just updated to 98-magerun2 version 3.0.0 and tried the following command (on a sever with PHP 7.0.30):

`$ n98-magerun2.phar --root-dir="/var/www/mydir" --compression=gzip --strip="@trade" db:dump /var/www/mydir/test_temp.sql.gz`

Unfortunately we are getting the following output:

`PHP Fatal error: Uncaught Error: Call to a member function get() on null in phar:///usr/local/bin/

[2018-12-11 08:40] cmuench commented on #49
We decided to have different "config:data" commands. M2 comes with more than one config file and type.

[2018-12-11 08:40] #49 closed

[2018-12-11 09:48] EliasKotlyar commented on #251
I can confirm that this bug is fixxed on a EE 2.2.7. I cannot guarantee for other versions.

[2018-12-11 09:59] cmuench commented on #251
@EliasKotlyar Thanks for checking. I close this ticket. If anyone has problems, we can reopen it again.

[2018-12-11 09:59] #251 closed

[2018-12-11 09:59] amenk opened #416 "Customer:create seems to expect store id but claims to expect website ID in help"
$ n98-magerun2 sys:web:list

	  Magento Websites

	+----+--------------+
	| id | code         |
	+----+--------------+
	| 1  | shop_x_uk |
	| 2  | shop_it      |
	| 3  | x_de    |
	| 4  | shop_de      |
	+----+--------------+

	$ n98-magerun2 customer:create dev_user@example.com Dev123456# Dev Customer 2
	Requested store is not found

	$ n98-magerun2 help customer:create
	Usage:
	  customer:create